{%block sidebar%}

<!-- Main Sidebar Container -->
  <aside class="main-sidebar main-sidebar-custom sidebar-light-primary">
    
    <!-- Brand Logo -->
    <a href="{{url_for('static', path='/index3.html')}}" class="brand-link">
      <!-- <img src="{{url_for('static', path='/dist/img/AdminLTELogo.png')}}" alt="AdminLTE Logo" class="brand-image img-circle border" style="opacity: .8"> -->
      <span class="brand-text font-weight-light">Hospital Management System</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
      
      <!-- Sidebar user (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
          <!-- <img src="{{url_for('static', path='/dist/img/user2-160x160.jpg')}}" class="img-circle border" alt="User Image"> -->
        </div>
        <div class="info mr-1">
          <a href="#" class="d-block text-truncate">Time And Attendance</a>
        </div>
      </div>


      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
            <li class="nav-header">CORE</li>
                <li class="nav-item">
                    <a href="/time_and_attendance/admin/dashboard" class="nav-link" id="dashboard_sidebar">
                    <script>if(window.location.pathname == '/'){document.getElementById("dashboard_sidebar").classList.add('active')}</script>
                    <i class="nav-icon fas fa-chart-line"></i>
                    <p>Dashboard</p>
                    </a>
                </li>

            <li class="nav-header">SHIFT AND SCHEDULING</li>
                <li class="nav-item">
                    <a href="/time_and_attendance/hr/employee" class="nav-link" id="employee_sidebar">
                    <script>if(window.location.pathname == '/time_and_attendance/hr/employee'){document.getElementById("employee_sidebar").classList.add('active')}</script>
                    <i class="nav-icon fas fa-user"></i>
                    <p>Employee Assignment</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a style="color:red" href="#"  href="/time_and_attendance/hr/shift_and_schedule_application" class="nav-link" id="shift_and_schedule_application_sidebar">
                    <script>if(window.location.pathname == '/time_and_attendance/hr/shift_and_schedule_application'){document.getElementById("shift_and_schedule_application_sidebar").classList.add('active')}</script>
                    <i class="nav-icon fas fa-exchange-alt"></i>
                    <p>S&S Application</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a style="color:red" href="#"  href="/time_and_attendance/hr/shift_and_schedule_reports" class="nav-link" id="shift_and_schedule_reports_sidebar">
                    <script>if(window.location.pathname == '/time_and_attendance/hr/shift_and_schedule_reports'){document.getElementById("shift_and_schedule_reports_sidebar").classList.add('active')}</script>
                    <i class="nav-icon fas fa-chart-bar"></i>
                    <p>S&S Reports</p>
                    </a>
                </li>


            <li class="nav-header">TIME AND ATTENDANCE</li>
                <li class="nav-item">
                    <a href="/time_and_attendance/hr/custom_time_in_out" class="nav-link" id="custom_time_in_out_sidebar">
                        <script>if(window.location.pathname == '/time_and_attendance/hr/custom_time_in_out'){document.getElementById("custom_time_in_out_sidebar").classList.add('active')}</script>
                        <i class="nav-icon fas fa-clock"></i>
                        <p>Custom Time In/Out</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a style="color:red" href="#" class="nav-link" id="missed_time_application_sidebar">
                        <script>if(window.location.pathname == '/time_and_attendance/hr/missed_time_application'){document.getElementById("missed_time_application_sidebar").classList.add('active')}</script>
                        <i class="nav-icon fas fa-history"></i>
                        <p>Missed Time</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a style="color:red" href="#" class="nav-link" id="attendance_reports_sidebar">
                        <script>if(window.location.pathname == '/time_and_attendance/hr/attendance_reports'){document.getElementById("attendance_reports_sidebar").classList.add('active')}</script>
                        <i class="nav-icon fas fa-chart-bar"></i>
                        <p>Attendance Reports</p>
                    </a>
                </li>

            <li class="nav-header">LEAVE MANAGEMENT</li>
                <li class="nav-item">
                    <a  href="/time_and_attendance/hr/leave_application" class="nav-link" id="leave_application_sidebar">
                        <script>if(window.location.pathname == '/time_and_attendance/hr/leave_application'){document.getElementById("leave_application_sidebar").classList.add('active')}</script>
                        <i class="nav-icon fas fa-file-alt"></i>
                        <p>Leave Application</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/time_and_attendance/hr/leave_approved" class="nav-link" id="leave_approved_sidebar">
                        <script>if(window.location.pathname == '/time_and_attendance/hr/leave_approved'){document.getElementById("leave_approved_sidebar").classList.add('active')}</script>
                        <i class="nav-icon fas fa-check-double"></i>
                        <p>Leave Approved</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a style="color:red" href="#" class="nav-link" id="leave_reports_sidebar">
                        <script>if(window.location.pathname == '/time_and_attendance/hr/leave_reports'){document.getElementById("leave_reports_sidebar").classList.add('active')}</script>
                        <i class="nav-icon fas fa-chart-bar"></i>
                        <p>Leave Reports</p>
                    </a>
                </li>
                
            <li class="nav-header">TIME LOGGING</li>
                    <li class="nav-item">
                        <a href="/time_and_attendance/hr/time_logging" class="nav-link" id="time_logging_sidebar">
                            <script>if(window.location.pathname == '/time_and_attendance/hr/time_logging'){document.getElementById("time_logging_sidebar").classList.add('active')}</script>
                            <i class="nav-icon fas fa-clock"></i>
                            <p>Time Logging</p>
                        </a>
                    </li>

            <li class="nav-header">USER</li>
                    <li class="nav-item">
                        <a href="/time_and_attendance/logout" class="nav-link" id="logout_sidebar">
                            <script>if(window.location.pathname == '/time_and_attendance/logout'){document.getElementById("logout_sidebar").classList.add('active')}</script>
                            <i class="nav-icon fas fa-sign-out-alt"></i>
                            <p>Logout</p>
                        </a>
                    </li>

        </ul>
      </nav>
      <!-- /.sidebar-menu -->

    </div>
    <!-- /.sidebar -->

  </aside>
  <!-- /.main-sidebar -->

{%endblock%}