{%block sidebar%}

<!-- Main Sidebar Container -->
  <aside class="main-sidebar main-sidebar-custom sidebar-light-primary">
    
    <!-- Brand Logo -->
    <a href="{{url_for('static', path='/index3.html')}}" class="brand-link">
      <img src="{{url_for('static', path='/dist/img/AdminLTELogo.png')}}" alt="AdminLTE Logo" class="brand-image img-circle border" style="opacity: .8">
      <span class="brand-text font-weight-light">AdminLTE 3</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
      
      <!-- Sidebar user (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
          <img src="{{url_for('static', path='/dist/img/user2-160x160.jpg')}}" class="img-circle border" alt="User Image">
        </div>
        <div class="info mr-1">
          <a href="#" class="d-block text-truncate">Alexander Pierce With A Long Surname</a>
        </div>
      </div>


      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
            <li class="nav-header">CORE</li>
                <li class="nav-item">
                    <a href="/" class="nav-link" id="dashboard_sidebar">
                    <script>if(window.location.pathname == '/'){document.getElementById("dashboard_sidebar").classList.add('active')}</script>
                    <i class="nav-icon fas fa-chart-line"></i>
                    <p>Dashboard</p>
                    </a>
                </li>

            <li class="nav-header">SHIFT AND SCHEDULING</li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-user-tie"></i>
                        <p>Scheduling</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/assignment" class="nav-link" id="assignment_sidebar">
                        <i class="nav-icon fas fa-user-tie"></i>
                        <p>Assignment</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/shift_type" class="nav-link" id="shift_type_sidebar">
                        <script>if(window.location.pathname == '/shift_type'){document.getElementById("shift_type_sidebar").classList.add('active')}</script>
                        <i class="nav-icon fas fa-user-tie"></i>
                        <p>Shift Type</p>
                    </a>
                </li>
            
            <li class="nav-header">TIME AND ATTENDANCE</li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-user-tie"></i>
                        <p>Time in and Time out</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-user-tie"></i>
                        <p>Calendar</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-user-tie"></i>
                        <p>Attendance Report</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-user-tie"></i>
                        <p>Missed Clock in Alerts</p>
                    </a>
                </li>

            <li class="nav-header">LEAVE MANAGEMENT</li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-user-tie"></i>
                        <p>Applications</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-user-tie"></i>
                        <p>Leave Reports</p>
                    </a>
                </li>

        </ul>
      </nav>
      <!-- /.sidebar-menu -->

    </div>
    <!-- /.sidebar -->

  </aside>
  <!-- /.main-sidebar -->

{%endblock%}