<!-- Apply layout from base.html -->
{%extends '/time_and_attendance/base.html'%} 

{%block navbar%}
    {%include 'time_and_attendance/includes/hr_navbar.html'%}
{%endblock%}

{%block sidebar%}
    {%include 'time_and_attendance/includes/hr_sidebar.html'%}
{%endblock%}

{%block content%}
<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
            <h1>Attendance</h1>
            </div>
            <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item active">Attendance</li>
            </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<section class="content">
      <div class="container-fluid">
        <div class="row row align-items-center justify-content-center">
          <div class="col-12">
            <div class="card card-outline card-primary">
              <div class="card-header">
                  <div class="col-2" style="margin-right: 5%;">
                            <div class="row">
                                <h3 class="card-title">List of Attendance</h3>
                            </div>
                        </div><br>
                    <div class="row">
                        <div class="col-3">
                            <div class="row">
                                <label>Employee:</label>&nbsp
                                    <select id="employee_email_time_in" class="custom-select rounded-0" style="width:100%">
                                    
                                    </select>
                            </div>
                        </div>&nbsp
                        <div class="col-2">
                            <div class="row">
                                <label>Date From:</label>
                                    <input id="date_filter_from" class="form-control" type="date">
                            </div>
                        </div>&nbsp
                        <div class="col-2">
                            <div class="row">
                                <label>Date To:</label>
                                    <input id="date_filter_to" class="form-control" type="date">
                            </div>
                        </div>&nbsp
                        <div class="col-4">
                            <div class="row">
                                <div class="col-2">
                                    <button style="margin-top:32px;padding-left:25%;padding-right:25%" type="button" class="btn btn-primary" id="btn_filter">Filter</button>
                                </div>
                                <div class="col-2">
                                    <button style="margin-top:32px;padding-left:25%;padding-right:25%" type="button" class="btn btn-secondary" id="btn_clear">Clear</button>
                                </div>
                                <div class="col-4">
                                    <button style="margin-top:32px;" type="button" class="btn btn-info" id="btn_reset">Reset to all</button>
                                </div>
                            </div>
                        </div>
                    </div>
              </div>
              <div class="card-body">
                <table id="attendance_datatable" class="table table-bordered table-hover">
                    <thead>
                        <th>ID</th>
                        <th>Date Created</th>
                        <th>Email</th>
                        <th>Date</th>
                        <th>Time In</th>
                        <th>Time Out</th>
                    </thead>
                    <tbody id="dt_tbody">
                        <tr>

                        </tr>
                    </tbody>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </section>

    
{%endblock%}

{%block scripts%}
<script>
$(document).ready(function(){
    function selectize(){
                  
          $('select').select2({
          width: 'resolve'
          })
    }


    function loadtable(){
        employee_id = sessionStorage.getItem("id")
        attendance_datatable = $('#attendance_datatable').DataTable( {
            "ajax": {url:"/time_and_attendance/api/attendance", dataSrc:"attendance"},
            dom: 'Blfrtip',
            buttons: [
            
            {
                    extend: 'print',
                    messageTop: `All time Attendance`,
                    title: '<h1 style="text-align:center">Attendance Report<h1>',
                    exportOptions: {
                    columns: [ 2, 3, 4, 5]
                }
            },
        ],
            "columns": [
                { data: "id"},
                { data: "created_at" },
                { data: "employees.users.email"},
                { data: "created_at", render: function(data, type, row){
                  return moment(data).format('LL'); 
                }},
                { data: "time_ins.time_log", render: function(data, type, row){
                    date = moment().format('YYYY-MM-DD')
                    return moment(date + " " + data).format('LT');
                }},
                { data: "time_outs.time_log", render: function(data, type, row){
                    date = moment().format('YYYY-MM-DD')
                    return moment(date + " " + data).format('LT');
                }},
            ],
            "paging": true,
            "lengthChange": false,
            "searching": true,
            "ordering": true,
            "info": true,
            "autoWidth": false,
            "responsive": true,

            "aoColumnDefs": [{ "bVisible": false, "aTargets": [0, 1] }],
            "order": [[1, "desc"]]
        })
    }

    function filter_loadtable(data, start_date, end_date, employee_name){

        $("#dt_tbody").empty();
        console.log(data)
        attendance_datatable = $('#attendance_datatable').DataTable({
            "aaData": data.attendance,
            dom: 'Blfrtip',
            buttons: [
            
            {
                    extend: 'print',
                    messageTop: `Attendance of ${employee_name} as of ${moment(start_date).format('LL')} to ${moment(end_date).format('LL')}`,
                    title: '<h1 style="text-align:center">Attendance Report<h1>',
                    exportOptions: {
                    columns: [ 2, 3, 4 ]
                }
            },
        ],
            "columns": [
                { data: "id"},
                { data: "created_at" },
                { data: "employees.users.email"},
                { data: "created_at", render: function(data, type, row){
                  return moment(data).format('LL'); 
                }},
                { data: "time_ins.time_log", render: function(data, type, row){
                    date = moment().format('YYYY-MM-DD')
                    return moment(date + " " + data).format('LT');
                }},
                { data: "time_outs.time_log", render: function(data, type, row){
                    date = moment().format('YYYY-MM-DD')
                    return moment(date + " " + data).format('LT');
                }},
            ],
            "paging": true,
            "lengthChange": false,
            "searching": true,
            "ordering": true,
            "info": true,
            "autoWidth": false,
            "responsive": true,

            "aoColumnDefs": [{ "bVisible": false, "aTargets": [0, 1] }],
            "order": [[1, "desc"]]
        })
    }

    loadtable();

    function get_user_email_in(){
            
            $.ajax({
                    url: '/time_and_attendance/api/employee/get_employee_time_in',
                    type: "GET",
                    contentType: "application/json",
                    dataType: "JSON",
                
                    success: function(data){
                        employee = data.employee
                        console.log(employee)
                        html = `<option value="All" selected>All</option>`
                        
                        for(var i=0; i < employee.length; i++){
                            html += `<option value="${employee[i].id}">${employee[i].users.email}</option>`
                        }

                        $('#employee_email_time_in').html(html)

                        selectize()
                    }
                })
                // ajax closing tag

                
    }

    get_user_email_in()

    
    function refresh(){

        var url = "/time_and_attendance/api/attendance/";

        attendance_datatable.ajax.url(url).load();
    }


    $('#btn_filter').on('click', function(e){

        let employee = $('#employee_email_time_in').val()
        let formData = {
            start_date: $('#date_filter_from').val(),
            end_date: $('#date_filter_to').val(),
        }

        if($('#date_filter_from').val() == "" && $('#date_filter_to').val() == ""){
            $("#attendance_datatable").DataTable().destroy()
            loadtable()
        }
        if(employee == "All"){
            $.ajax({
                url: '/time_and_attendance/api/attendance/reports_all/',
                type: "POST",
                data: JSON.stringify(formData),
                contentType: "application/json",
                dataType: "JSON",
            
                success: function(data){
                    $("#attendance_datatable").DataTable().destroy()
                    filter_loadtable(data, $('#date_filter_from').val(), $('#date_filter_to').val(), 'All Employees')
                }
                // ajax closing tag
            })
        }
        else{
            $.ajax({
                url: '/time_and_attendance/api/attendance/reports/'+employee,
                type: "POST",
                data: JSON.stringify(formData),
                contentType: "application/json",
                dataType: "JSON",
            
                success: function(data){
                    $("#attendance_datatable").DataTable().destroy()
                    if(data.attendance.length == 0){
                        filter_loadtable(data, $('#date_filter_from').val(), $('#date_filter_to').val(), "")
                    }
                    else{
                        employee_data = data.attendance[0]
                        employee_email = employee_data.employees.users.email
                        filter_loadtable(data, $('#date_filter_from').val(), $('#date_filter_to').val(), employee_email)
                    }
                }
                // ajax closing tag
            })
        }

            
        
    })

    

    $('#btn_clear').on('click', function(e){

        get_user_email_in()
        
        $('#date_filter_from').val("")
        $('#date_filter_to').val("")
    
    })

    $('#btn_reset').on('click', function(e){
        $("#attendance_datatable").DataTable().destroy()
        loadtable()
    })


})
</script>
{%endblock%}