<!-- Apply layout from base.html -->
{%extends '/time_and_attendance/base.html'%} 

{%block navbar%}
    {%include 'time_and_attendance/includes/hr_navbar.html'%}
{%endblock%}

{%block sidebar%}
    {%include 'time_and_attendance/includes/hr_sidebar.html'%}
{%endblock%}

{%block content%}
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
            <h1>Dashboard</h1>
            </div>
            <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item active">Dashboard</li>
            </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<section class="content">
      <div class="container-fluid">
        <div class="row row align-items-center justify-content-center">
          <div class="col-12">
            <h5 class="mb-2">Time and Attendance</h5>
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-12">
                      <div class="info-box">
                        <span class="info-box-icon bg-success"><i class="fas fa-chart-bar"></i></span>
          
                        <div class="info-box-content">
                          <span class="info-box-text">Attendance Count (Today)</span>
                          <span class="info-box-number" id="attendance_count_today"></span>
                        </div>
                        <!-- /.info-box-content -->
                      </div>
                      <!-- /.info-box -->
                    </div>
                    <div class="col-md-6 col-sm-6 col-12">
                      <div class="info-box">
                        <span class="info-box-icon bg-info"><i class="fas fa-chart-bar"></i></span>
          
                        <div class="info-box-content">
                          <span class="info-box-text">Attendance Count (<span id="current_month"></span>)</span>
                          <span class="info-box-number" id="attendance_count"></span>
                        </div>
                        <!-- /.info-box-content -->
                      </div>
                      <!-- /.info-box -->
                    </div>
                    <!-- /.col -->
                  </div>
            </div>
            
        </div>
        <div class="row">
            <div class="col-12">
                <h5 class="mb-2">Shift And Scheduling</h5>
            </div>
            <div class="col-lg-6 col-6">
              <!-- small card -->
              <div class="small-box bg-info">
                <div class="inner">
                  <h3 id="employee_count">0</h3>
  
                  <p>Employees</p>
                </div>
                <div class="icon">
                  <i class="fas fa-id-card"></i>
                </div>
                <a href="employee" class="small-box-footer">
                  More info <i class="fas fa-arrow-circle-right"></i>
                </a>
              </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-6 col-6">
              <!-- small card -->
              <div class="small-box bg-success">
                <div class="inner">
                  <h3 id="shift_and_schedule_application_count">0<sup style="font-size: 20px"></sup></h3>
  
                  <p>Shift and Schedule Application</p>
                </div>
                <div class="icon">
                  <i class="fas fa-user-tag"></i>
                </div>
                <a href="shift_and_schedule_application" class="small-box-footer">
                  More info <i class="fas fa-arrow-circle-right"></i>
                </a>
              </div>
            </div>
            <div class="col-12">
              <h5 class="mb-2">Leave Management</h5>
            </div>
            <!-- ./col -->
            <div class="col-lg-4 col-6">
              <!-- small card -->
              <div class="small-box bg-dark">
                <div class="inner">
                  <h3 id="leave_application_count">0</h3>
  
                  <p>Leave Application</p>
                </div>
                <div class="icon">
                  <i class="fas fa-clock"></i>
                </div>
                <a href="leave_application" class="small-box-footer">
                  More info <i class="fas fa-arrow-circle-right"></i>
                </a>
              </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-4 col-6">
              <!-- small card -->
              <div class="small-box bg-warning">
                <div class="inner">
                  <h3 id="leave_approved_count">0</h3>
  
                  <p>Leave Approved</p>
                </div>
                <div class="icon">
                  <i class="fas fa-sticky-note"></i>
                </div>
                <a href="leave_application" class="small-box-footer">
                  More info <i class="fas fa-arrow-circle-right"></i>
                </a>
              </div>
            </div>
            <div class="col-lg-4 col-6">
              <!-- small card -->
              <div class="small-box bg-danger">
                <div class="inner">
                  <h3 id="leave_denied_count">0</h3>
  
                  <p>Leave Denied</p>
                </div>
                <div class="icon">
                  <i class="fas fa-copy"></i>
                </div>
                <a href="leave_application" class="small-box-footer">
                  More info <i class="fas fa-arrow-circle-right"></i>
                </a>
              </div>
            </div>
            <!-- ./col -->
          </div>
        <!-- /.row -->
      </div>
    </section>
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-6" hidden>
            <!-- AREA CHART -->
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">Area Chart</h3>

                <div class="card-tools">
                  <button type="button" class="btn btn-tool" data-card-widget="collapse">
                    <i class="fas fa-minus"></i>
                  </button>
                  <button type="button" class="btn btn-tool" data-card-widget="remove">
                    <i class="fas fa-times"></i>
                  </button>
                </div>
              </div>
              <div class="card-body">
                <div class="chart">
                  <canvas id="areaChart" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>
                </div>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->

            <!-- DONUT CHART -->
            <div class="card card-danger" hidden>
              <div class="card-header">
                <h3 class="card-title">Donut Chart</h3>

                <div class="card-tools">
                  <button type="button" class="btn btn-tool" data-card-widget="collapse">
                    <i class="fas fa-minus"></i>
                  </button>
                  <button type="button" class="btn btn-tool" data-card-widget="remove">
                    <i class="fas fa-times"></i>
                  </button>
                </div>
              </div>
              <div class="card-body">
                <canvas id="donutChart" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->

            <!-- PIE CHART -->
            <div class="card card-danger" hidden>
              <div class="card-header">
                <h3 class="card-title">Pie Chart</h3>

                <div class="card-tools">
                  <button type="button" class="btn btn-tool" data-card-widget="collapse">
                    <i class="fas fa-minus"></i>
                  </button>
                  <button type="button" class="btn btn-tool" data-card-widget="remove">
                    <i class="fas fa-times"></i>
                  </button>
                </div>
              </div>
              <div class="card-body">
                <canvas id="pieChart" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>
              </div>
              <!-- /.card-body -->
            </div>
            /.card

          </div>
          <!-- /.col (LEFT) -->
          <div class="col-md-12">
            <!-- LINE CHART -->
            <div class="card card-info">
              <div class="card-header">
                <h3 class="card-title">Leave Chart</h3>

                <div class="card-tools">
                  <button type="button" class="btn btn-tool" data-card-widget="collapse">
                    <i class="fas fa-minus"></i>
                  </button>
                  <button type="button" class="btn btn-tool" data-card-widget="remove">
                    <i class="fas fa-times"></i>
                  </button>
                </div>
              </div>
              <div class="card-body">
                <div class="chart">
                  <canvas id="lineChart" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>
                </div>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->

            <!-- BAR CHART -->
            <div class="card card-success" hidden>
              <div class="card-header">
                <h3 class="card-title">Bar Chart</h3>

                <div class="card-tools">
                  <button type="button" class="btn btn-tool" data-card-widget="collapse">
                    <i class="fas fa-minus"></i>
                  </button>
                  <button type="button" class="btn btn-tool" data-card-widget="remove">
                    <i class="fas fa-times"></i>
                  </button>
                </div>
              </div>
              <div class="card-body">
                <div class="chart">
                  <canvas id="barChart" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>
                </div>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->

            <!-- STACKED BAR CHART -->
            <div class="card card-success" hidden>
              <div class="card-header">
                <h3 class="card-title">Stacked Bar Chart</h3>

                <div class="card-tools">
                  <button type="button" class="btn btn-tool" data-card-widget="collapse">
                    <i class="fas fa-minus"></i>
                  </button>
                  <button type="button" class="btn btn-tool" data-card-widget="remove">
                    <i class="fas fa-times"></i>
                  </button>
                </div>
              </div>
              <div class="card-body">
                <div class="chart">
                  <canvas id="stackedBarChart" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>
                </div>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->

          </div>
          <!-- /.col (RIGHT) -->
        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </section>
    
{%endblock%}

{%block scripts%}
<script>
$(document).ready(function(){

    // Get User Count
    $.ajax({
            url: '/time_and_attendance/api/attendance/count/month',
            type: "GET",
            contentType: "application/json",
            dataType: "JSON",
        
            success: function(data){
                // console.log(data)
                attendance_count = data.count

                $('#attendance_count').html(attendance_count)
            }
        // ajax closing tag
    })

    // Get User Count
    $.ajax({
            url: '/time_and_attendance/api/attendance/count/today',
            type: "GET",
            contentType: "application/json",
            dataType: "JSON",
        
            success: function(data){
                // console.log(data)
                attendance_count_today = data.count

                $('#attendance_count_today').html(attendance_count_today)
            }
        // ajax closing tag
    })
    // Get User Count
    $.ajax({
            url: '/time_and_attendance/api/employee/count/',
            type: "GET",
            contentType: "application/json",
            dataType: "JSON",
        
            success: function(data){
                // console.log(data)
                employee_count = data.count

                $('#employee_count').html(employee_count)
            }
        // ajax closing tag
    })
    // Get User Count
    $.ajax({
            url: '/time_and_attendance/api/shift_change/count/',
            type: "GET",
            contentType: "application/json",
            dataType: "JSON",
        
            success: function(data){
                // console.log(data)
                shift_and_schedule_application_count = data.count

                $('#shift_and_schedule_application_count').html(shift_and_schedule_application_count)
            }
        // ajax closing tag
    })
    // Get User Count
    $.ajax({
            url: '/time_and_attendance/api/leave/count/',
            type: "GET",
            contentType: "application/json",
            dataType: "JSON",
        
            success: function(data){
                // console.log(data)
                leave_application_count = data.count

                $('#leave_application_count').html(leave_application_count)
            }
        // ajax closing tag
    })
    // Get User Count
    $.ajax({
            url: '/time_and_attendance/api/leave/count/approved/',
            type: "GET",
            contentType: "application/json",
            dataType: "JSON",
        
            success: function(data){
                // console.log(data)
                leave_approved_count = data.count

                $('#leave_approved_count').html(leave_approved_count)
            }
        // ajax closing tag
    })
    // Get User Count
    $.ajax({
            url: '/time_and_attendance/api/leave/count/denied/',
            type: "GET",
            contentType: "application/json",
            dataType: "JSON",
        
            success: function(data){
                // console.log(data)
                leave_denied_count = data.count

                $('#leave_denied_count').html(leave_denied_count)
            }
        // ajax closing tag
    })

    current_date = moment()
    current_month = current_date.format('MMMM')
    $('#current_month').html(current_month)


    // _--------
    // let everyMonthCount = [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
    let everyMonthApprovedCount = []
    let everyMonthDeclinedCount = []

    function ajaxForGraphApproved() {
        i = 0
        for(m=0; m<12; m++){
        var testdate = new Date(), y = testdate.getFullYear();
        var firstDay = new Date(y, m, 1);
        var lastDay = new Date(y, m + 1, 0);  

        testdate = moment(testdate).format("YYYY-MM-DD")
        firstDay = moment(firstDay).format("YYYY-MM-DD")
        lastDay = moment(lastDay).format("YYYY-MM-DD")
        
        $.ajax({
                url: '/time_and_attendance/api/leave/count/approved_month/',
                type: "POST",
                data: JSON.stringify({start: firstDay, end: lastDay}),
                contentType: "application/json",
                dataType: "JSON",
                async: false,
            
                success: function(data){
                  everyMonthApprovedCount.push(data.count)
                  // everyMonthCount[i] = data.count
                  // console.log(i)
                  // i++;
                }
            // ajax closing tag
        })
      }
    }

    function ajaxForGraphDeclined() {
        i = 0
        for(m=0; m<12; m++){
        var testdate = new Date(), y = testdate.getFullYear();
        var firstDay = new Date(y, m, 1);
        var lastDay = new Date(y, m + 1, 0);  

        testdate = moment(testdate).format("YYYY-MM-DD")
        firstDay = moment(firstDay).format("YYYY-MM-DD")
        lastDay = moment(lastDay).format("YYYY-MM-DD")
        
        $.ajax({
                url: '/time_and_attendance/api/leave/count/declined_month/',
                type: "POST",
                data: JSON.stringify({start: firstDay, end: lastDay}),
                contentType: "application/json",
                dataType: "JSON",
                async: false,
            
                success: function(data){
                  everyMonthDeclinedCount.push(data.count)
                  // console.log(data)
                  // everyMonthCount[i] = data.count
                  // console.log(i)
                  // i++;
                }
            // ajax closing tag
        })
      }
    }

    ajaxForGraphApproved()
    ajaxForGraphDeclined()
    console.log(everyMonthDeclinedCount)
    

    // _--------

    
    // CHART JS
    $(function () {
    /* ChartJS
     * -------
     * Here we will create a few charts using ChartJS
     */

    //--------------
    //- AREA CHART -
    //--------------

    // Get context with jQuery - using jQuery's .get() method.
    var areaChartCanvas = $('#areaChart').get(0).getContext('2d')

    var areaChartData = {
      labels  : ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'],
      datasets: [
        {
          label               : 'Approved',
          backgroundColor     : 'rgba(60,141,188,0.9)',
          borderColor         : '#10b981',
          pointRadius          : false,
          pointColor          : '#3b8bba',
          pointStrokeColor    : 'rgba(60,141,188,1)',
          pointHighlightFill  : '#fff',
          pointHighlightStroke: 'rgba(60,141,188,1)',
          data                : everyMonthApprovedCount
        },
        {
          label               : 'Declined',
          backgroundColor     : 'rgba(210, 214, 222, 1)',
          borderColor         : '#ef4444',
          pointRadius         : false,
          pointColor          : 'rgba(210, 214, 222, 1)',
          pointStrokeColor    : '#c1c7d1',
          pointHighlightFill  : '#fff',
          pointHighlightStroke: 'rgba(220,220,220,1)',
          data                : everyMonthDeclinedCount 
        },
      ]
    }

    var areaChartOptions = {
      maintainAspectRatio : false,
      responsive : true,
      legend: {
        display: false
      },
      scales: {
        xAxes: [{
          gridLines : {
            display : false,
          }
        }],
        yAxes: [{
          gridLines : {
            display : false,
          }
        }]
      }
    }

    // This will get the first returned node in the jQuery collection.
    new Chart(areaChartCanvas, {
      type: 'line',
      data: areaChartData,
      options: areaChartOptions
    })

    //-------------
    //- LINE CHART -
    //--------------
    var lineChartCanvas = $('#lineChart').get(0).getContext('2d')
    var lineChartOptions = $.extend(true, {}, areaChartOptions)
    var lineChartData = $.extend(true, {}, areaChartData)
    lineChartData.datasets[0].fill = false;
    lineChartData.datasets[1].fill = false;
    lineChartOptions.datasetFill = false

    var lineChart = new Chart(lineChartCanvas, {
      type: 'line',
      data: lineChartData,
      options: lineChartOptions
    })

    //-------------
    //- DONUT CHART -
    //-------------
    // Get context with jQuery - using jQuery's .get() method.
    var donutChartCanvas = $('#donutChart').get(0).getContext('2d')
    var donutData        = {
      labels: [
          'Chrome',
          'IE',
          'FireFox',
          'Safari',
          'Opera',
          'Navigator',
      ],
      datasets: [
        {
          data: [700,500,400,600,300,100],
          backgroundColor : ['#f56954', '#00a65a', '#f39c12', '#00c0ef', '#3c8dbc', '#d2d6de'],
        }
      ]
    }
    var donutOptions     = {
      maintainAspectRatio : false,
      responsive : true,
    }
    //Create pie or douhnut chart
    // You can switch between pie and douhnut using the method below.
    new Chart(donutChartCanvas, {
      type: 'doughnut',
      data: donutData,
      options: donutOptions
    })

    //-------------
    //- PIE CHART -
    //-------------
    // Get context with jQuery - using jQuery's .get() method.
    var pieChartCanvas = $('#pieChart').get(0).getContext('2d')
    var pieData        = donutData;
    var pieOptions     = {
      maintainAspectRatio : false,
      responsive : true,
    }
    //Create pie or douhnut chart
    // You can switch between pie and douhnut using the method below.
    new Chart(pieChartCanvas, {
      type: 'pie',
      data: pieData,
      options: pieOptions
    })

    //-------------
    //- BAR CHART -
    //-------------
    var barChartCanvas = $('#barChart').get(0).getContext('2d')
    var barChartData = $.extend(true, {}, areaChartData)
    var temp0 = areaChartData.datasets[0]
    var temp1 = areaChartData.datasets[1]
    barChartData.datasets[0] = temp1
    barChartData.datasets[1] = temp0

    var barChartOptions = {
      responsive              : true,
      maintainAspectRatio     : false,
      datasetFill             : false
    }

    new Chart(barChartCanvas, {
      type: 'bar',
      data: barChartData,
      options: barChartOptions
    })

    //---------------------
    //- STACKED BAR CHART -
    //---------------------
    var stackedBarChartCanvas = $('#stackedBarChart').get(0).getContext('2d')
    var stackedBarChartData = $.extend(true, {}, barChartData)

    var stackedBarChartOptions = {
      responsive              : true,
      maintainAspectRatio     : false,
      scales: {
        xAxes: [{
          stacked: true,
        }],
        yAxes: [{
          stacked: true
        }]
      }
    }

    new Chart(stackedBarChartCanvas, {
      type: 'bar',
      data: stackedBarChartData,
      options: stackedBarChartOptions
    })
  })
});
</script>
{%endblock%}