<!-- Apply layout from base.html -->
{%extends '/time_and_attendance/base.html'%} 

{%block navbar%}
    {%include 'time_and_attendance/includes/hr_navbar.html'%}
{%endblock%}

{%block sidebar%}
    {%include 'time_and_attendance/includes/hr_sidebar.html'%}
{%endblock%}

{%block content%}
<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
            <h1>Leave Approved</h1>
            </div>
            <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item active">Leave Approved</li>
            </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>


    <section class="content">
      <div class="container-fluid">
        <div class="row row align-items-center justify-content-center">
          <div class="col-12">
              <div class="card card-outline card-primary">
                <div class="card-header">
                    <div class="row">
                        <div class="col-2">
                            <h3 class="card-title">List of Leaves</h3>
                        </div>
                        <div class="col-6">
                            <div class="row">
                                <label>Month & Year</label>
                                    <input id="month_selected" class="form-control" type="month">
                            </div>
                        </div>
                    </div>
                </div>
              <!-- /.card-header -->
                <div class="card-body">
                    <table id="leave_datatable" class="table table-bordered table-hover">
                        <thead>
                            <th style="color:red">Sunday</th>
                            <th>Monday</th>
                            <th>Tuesday</th>
                            <th>Wednesday</th>
                            <th>Thursday</th>
                            <th>Friday</th>
                            <th style="color:red">Saturday</th>
                        </thead>
                        <tbody id="tbody_calendar">
                            <tr id="0"></tr>
                            <tr id="1"></tr>
                            <tr id="2"></tr>
                            <tr id="3"></tr>
                            <tr id="4"></tr>
                            <tr id="5"></tr>
                            <tr id="6"></tr>
                        </tbody>
                    </table>
                </div>
              <!-- /.card-body -->
              </div>
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </section>


    <div id="calendar"></div>

    <!-- DELETE FORM -->
    <!-- Extra Large Modal -->
      <div class="modal fade" id="leave_approved_modal">
        <div class="modal-dialog leave_approved_modal modal-xl modal-dialog-centered modal-dialog-scrollable">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title"  id="leaves_title">List of Leave</h4>
              <button type="button" class="btn btn-sm btn-default" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true"><i class="fas fa-times"></i></span>
              </button>
            </div>
            <div class="modal-body">
                <table id="leave_approve_datatable" class="table table-bordered table-hover">
                        <thead style="text-align: center;">
                            <th>Employee</th>
                            <th>Title</th>
                            <th>Start Date</th>
                            <th>End Date</th>
                            <th>Type of Leave</th>
                        </thead>
                        <tbody style="text-align: center;" id="list_of_employee">

                        </tbody>
                    </table>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
      </div>
    <!-- /.modal -->

    
{%endblock%}

{%block scripts%}
<script>
$(document).ready(function(){

    
    
    function get_leave_date(date){
        let formData = {
            "start_date": date
        }

        let leave_length

        $.ajax({
                url: '/time_and_attendance/api/leave/getApprovedLeave',
                type: "POST",
                data: JSON.stringify(formData),
                contentType: "application/json",
                dataType: "JSON",
                async: false,
            
                success: function(data){
                    leave = data.leave
                    leave_length = leave.length
                }
        })
        // ajax closing tag

        return leave_length

    }


    function get_calendar(dateselected){

        let startOfMonth = moment(dateselected).startOf('month').format('YYYY-MM-DD');
        let endOfMonth   = moment(dateselected).endOf('month').format('YYYY-MM-DD');
        let startDate   = moment(dateselected).startOf('month').format('DD');
        let endDate   = moment(dateselected).endOf('month').format('DD');
        let startDay = moment(startOfMonth).day()
        let endDay = moment(endOfMonth).day()

        let dayDiff = (endDate - startDate) + 1

        let trcount = 0
        let tdcount = 0

        for(i = 1; i <= dayDiff; i++){
            curr_date = dateselected + '-' + i.toString().padStart(2, 0)

            if(parseInt(tdcount) < parseInt(startDay) && trcount == 0){
                
                $('#'+trcount).append(`<td></td>`)
                i--
            }
            else if(startDay <= 6){

                if(get_leave_date(curr_date) > 0){color = "warning"}
                else{color = "info"}

                $('#'+trcount).append(`<td><button type="button" id="${curr_date}" value="${curr_date}" class="btn btn-block btn-${color} btn-lg btn_date">${i}</button></td>`)
                startDay ++
            }
            else if(startDay == 7){

                if(get_leave_date(curr_date) > 0){color = "warning"}
                else{color = "info"}
                trcount ++
                startDay = 0
                $('#'+trcount).append(`<td><button type="button" id="${curr_date}" value="${curr_date}" class="btn btn-block btn-${color} btn-lg btn_date">${i}</button></td>`)
                startDay ++
            }
            else{
                $('#'+trcount).append(`<td></td>`)
                startDay++
            }

            tdcount++
        }
    }


    $(document).on('click', '.btn_date', function(){
        start_date = this.value

        let formData = {
            "start_date": start_date
        }

        $.ajax({
                url: '/time_and_attendance/api/leave/getApprovedLeave',
                type: "POST",
                data: JSON.stringify(formData),
                contentType: "application/json",
                dataType: "JSON",
            
                success: function(data){
                    leave_list = data.leave;
                    console.log(leave_list)
                    let html = ""

                    for(var i=0; i < leave_list.length; i++){
                        html += `<tr>
                                    <td>${leave_list[i].employees.users.email}</td>
                                    <td>${leave_list[i].title}</td>
                                    <td>${moment(leave_list[i].start_date).format('LL')}</td>
                                    <td>${moment(leave_list[i].end_date).format('LL')}</td>
                                    <td>${leave_list[i].leave_types.title} - ${leave_list[i].leave_sub_types.title}</td>
                                </tr>`
                    }

                    $('#list_of_employee').html(html)
                    $('#leaves_title').html(`Approved leave/s of ${moment(start_date).format('LL')}`)

                    $('#leave_approved_modal').modal('show')
                }
        })
        // ajax closing tag
    })
    
    dateNow = moment()
    console.log(dateNow)

    let monthDate = dateNow.format('MM')
    let yearDate = dateNow.format('YYYY')

    $('#month_selected').val(yearDate + "-" + monthDate)
    get_calendar(yearDate + "-" + monthDate)

    $('#month_selected').on('change', function(e){
        $('#tbody_calendar').html(
            `<tr id="0"></tr>
            <tr id="1"></tr>
            <tr id="2"></tr>
            <tr id="3"></tr>
            <tr id="4"></tr>
            <tr id="5"></tr>
            <tr id="6"></tr>`
        )
        get_calendar(this.value)
    })

})
</script>
{%endblock%}