<!-- Apply layout from base.html -->
{%extends '/time_and_attendance/base.html'%} 

{%block navbar%}
    {%include 'time_and_attendance/includes/hr_navbar.html'%}
{%endblock%}

{%block sidebar%}
    {%include 'time_and_attendance/includes/hr_sidebar.html'%}
{%endblock%}

{%block content%}
<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
            <h1>Missed Time</h1>
            </div>
            <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item active">Missed Time</li>
            </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

    <section class="content">
      <div class="container-fluid">
        <div class="col-12">
          <div class="card card-info">
            <div class="card-header">
              <h3 class="card-title">Shift and Schedule</h3>
            </div>
            <div class="card-body">
                <div class="row">
                  <div class="col-4">
                      <div class="info-box">
                        <span class="info-box-icon bg-success"><i class="fas fa-check-circle"></i></span>
          
                        <div class="info-box-content">
                          <span class="info-box-text">Approved</span>
                          <span class="info-box-number" id="icon_approved">0</span>
                        </div>
                        <!-- /.info-box-content -->
                      </div>
                      <!-- /.info-box -->
                    </div>
                    <div class="col-4">
                      <div class="info-box">
                        <span class="info-box-icon bg-warning"><i class="fas fa-clock"></i></span>
          
                        <div class="info-box-content">
                          <span class="info-box-text">Pending</span>
                          <span class="info-box-number" id="icon_pending">0</span>
                        </div>
                        <!-- /.info-box-content -->
                      </div>
                      <!-- /.info-box -->
                    </div>
                    <div class="col-4">
                      <div class="info-box">
                        <span class="info-box-icon bg-danger"><i class="fas fa-times"></i></span>
          
                        <div class="info-box-content">
                          <span class="info-box-text">Declined</span>
                          <span class="info-box-number" id="icon_denied">0</span>
                        </div>
                        <!-- /.info-box-content -->
                      </div>
                      <!-- /.info-box -->
                    </div>
                </div>
            </div>
          </div>
        </div>
        <!-- /.col -->
        <div class="row row align-items-center justify-content-center">
          <div class="col-12">
            <div class="card card-outline card-primary">
                <div class="card-header">
                    <h3 class="card-title">List of Time Logs</h3>
                        <!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#time_log_form_modal">
                            <i class="fa fa-plus"></i> Apply Missed Time-Log
                        </button> -->
                </div>
                <div class="card-body">
                    <div class="card-header">
                        List of Missed Time Application
                    </div>
                  <div class="">
                    <table id="missed_time_datatable" class="table table-bordered table-hover" style="width: 100%;">
                      <thead>
                          <th>ID</th>
                          <th>Date created</th>
                          <th>Log Type</th>
                          <th>Time Log</th>
                          <th>Date</th>
                          <th>Status</th>
                          <th>Actions</th>
                      </thead>
                      <tbody>
                          <tr>

                          </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
                <div class="card-body">
                    <div class="card-header">
                        List of Time In
                    </div>
                  <div class="">
                    <table id="time_in_log_datatable" class="table table-bordered table-hover" style="width: 100%;">
                      <thead>
                          <th>ID</th>
                          <th>Log Type</th>
                          <th>Time Log</th>
                          <th>Date</th>
                      </thead>
                      <tbody>
                          <tr>

                          </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
                <div class="card-body">
                  <div class="card-header">
                    List of Time Out
                  </div>
                  <div class="">
                    <table id="time_out_log_datatable" class="table table-bordered table-hover" style="width: 100%;">
                      <thead>
                          <th>ID</th>
                          <th>Log Type</th>
                          <th>Time Log</th>
                          <th>Date</th>
                      </thead>
                      <tbody>
                          <tr>

                          </tr>
                      </tbody>
                  </table>
                  </div>
                </div>
              
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </section>

    <!-- Extra Large Modal -->
        <div class="modal fade" id="time_log_form_modal">
          <div class="modal-dialog time_log_form_modal modal-xl modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title">Time In</h4>
                <button type="button" class="btn btn-sm btn-default" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true"><i class="fas fa-times"></i></span>
                </button>
              </div>
              <div class="modal-body">
                <form id="employee_form_time_in">
                      <div class="card-body">
                            <div class="form-group">
                                <label for="missed_time_application_status" style="color:red">Status</label>
                                <select id="missed_time_application_status" class="custom-select rounded-0" style="width:100%">
                                    <option value="Pending">Pending</option>
                                    <option value="Approved">Approved</option>
                                    <option value="Declined">Declined</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="employee_email_id">User Email</label>
                                <select id="employee_email_id" class="custom-select rounded-0" style="width:100%" disabled>
                                    
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="employee_time_log_type">Type of Time-Log</label>
                                <select id="employee_time_log_type" class="custom-select rounded-0" style="width:100%" disabled>
                                    <option value="Time-In">Time-In</option>
                                    <option value="Time-Out">Time-Out</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="employee_created_date">Date</label>
                                <input type="date" class="form-control" id="employee_created_date" name="employee_created_date" readonly>
                            </div>
                            <div class="form-group">
                                <label for="employee_time_log">Time-Log</label>
                                <input type="time" class="form-control" id="employee_time_log" name="employee_time_log" readonly>
                            </div>
                            <div class="form-group" hidden>
                                <label for="missed_time_application_id">ID</label>
                                <input type="text" class="form-control" id="missed_time_application_id" name="missed_time_application_id" readonly>
                            </div>
                            
                            
                      </div>
                  </form>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" id="employee_missed_time_form_submit" class="btn btn-primary">Submit<i class='fas fa-check ml-1'></i></button>
              </div>
            </div>
            <!-- /.modal-content -->
          </div>
          <!-- /.modal-dialog -->
        </div>
      <!-- /.modal -->

    
{%endblock%}

{%block scripts%}
<script>
$(document).ready(function(){


    function missedloadtable(){
        missed_time_datatable = $('#missed_time_datatable').DataTable( {
            "ajax": {url:"/time_and_attendance/api/missed_time/", dataSrc:"missed_time"},
            "columns": [
                { data: "id"},
                { data: "created_at"},
                { data: "time_log_type", render: function(data, type, row){
                  return data
                }},
                { data: "time_log", render: function(data, type, row){
                  date = moment().format('YYYY-MM-DD')
                  return moment(date + " " + data).format('LT');
                }},
                { data: "date", render: function(data, type, row){
                  return moment(data).format('LL')
                }},
                { data: "status", render: function(data, type, row){
                    if(data == "Pending"){
                        return `<h5 ><span style="padding:5px" class="badge badge-secondary">Pending</span></h5>`
                    }
                    else if(data == "Approved"){
                        return `<h5><span style="padding:5px" class="badge badge-primary">Approved</span></h5>`
                    }
                    else if(data == "Declined"){
                        return `<h5><span style="padding:5px" class="badge badge-danger">Declined</span></h5>`
                    }
                }},
                { data: "active_status", render: function(data, type, row){
                        if(data == "Active"){
                            return `
                            <div class="text-center dropdown"><div class="btn btn-sm btn-default" data-toggle="dropdown" role="button"><i class="fas fa-ellipsis-v"></i></div>
                              <div class="dropdown-menu dropdown-menu-right">
                                    <div class="dropdown-item d-flex btn_edit" id=${row.id} role="button">
                                      <div style="width: 2rem"><i class="far fa-edit"></i></div>
                                        <div>Response</div>
                                    </div>
                              </div>
                            </div>
                                    `;
                        }
                        else{
                            return '<button>Activate</button>';
                        }
                    }
                },
            ],
            "paging": true,
            "lengthChange": false,
            "searching": true,
            "ordering": true,
            "info": true,
            "autoWidth": false,
            "responsive": true,

            "aoColumnDefs": [{ "bVisible": false, "aTargets": [0, 1] }],
            "order": [[1, "desc"]]
        })
    }

    missedloadtable()

    function loadtable(){
        time_in_log_datatable = $('#time_in_log_datatable').DataTable( {
            "ajax": {url:"/time_and_attendance/api/timein/", dataSrc:"timein"},
            "columns": [
                { data: "id"},
                { data: "created_at", render: function(data, type, row){
                  return "Time-In"
                }},
                { data: "time_log", render: function(data, type, row){
                  date = moment().format('YYYY-MM-DD')
                  return moment(date + " " + data).format('LT');
                }},
                { data: "created_at", render: function(data, type, row){
                  return moment(data).format('LL')
                }},
            ],
            "paging": true,
            "lengthChange": false,
            "searching": true,
            "ordering": true,
            "info": true,
            "autoWidth": false,
            "responsive": true,

            "aoColumnDefs": [{ "bVisible": false, "aTargets": [0] }],
            "order": [[3, "desc"]]
        })
    }

    loadtable()

    function loadouttable(){
            time_out_log_datatable = $('#time_out_log_datatable').DataTable( {
                "ajax": {url:"/time_and_attendance/api/timeout/", dataSrc:"timeout"},
                "columns": [
                    { data: "id"},
                    { data: "created_at", render: function(data, type, row){
                    return "Time-Out"
                    }},
                    { data: "time_log", render: function(data, type, row){
                    date = moment().format('YYYY-MM-DD')
                    return moment(date + " " + data).format('LT');
                    }},
                    { data: "created_at", render: function(data, type, row){
                    return moment(data).format('LL')
                    }},
                ],
                "paging": true,
                "lengthChange": false,
                "searching": true,
                "ordering": true,
                "info": true,
                "autoWidth": false,
                "responsive": true,

                "aoColumnDefs": [{ "bVisible": false, "aTargets": [0] }],
                "order": [[3, "desc"]]
            })
    }

    loadouttable();
    
      
    function get_user_email(){
          
            $.ajax({
                    url: '/time_and_attendance/api/user/',
                    type: "GET",
                    contentType: "application/json",
                    dataType: "JSON",
                
                    success: function(data){
                        user = data.user
                        console.log(user)
                        html = ""
                        
                        for(var i=0; i < user.length; i++){
                            html += `<option value="${user[i].id}">${user[i].email}</option>`
                        }

                        $('#employee_email_id').append(html)
                    }
                })
                // ajax closing tag

                
    }

    get_user_email()


            
    function refresh(){

        var url = "/time_and_attendance/api/missed_time"
        missed_time_datatable.ajax.url(url).load();

        var url = "/time_and_attendance/api/timein"
        time_in_log_datatable.ajax.url(url).load();

        var url = "/time_and_attendance/api/timeout"
        time_out_log_datatable.ajax.url(url).load();
    }


    $(document).on('click', '.btn_edit', function(e){
        let missed_time_application_id = this.id

        
        $.ajax({
            url: '/time_and_attendance/api/missed_time/'+missed_time_application_id,
            type: "GET",
            contentType: "application/json",
            dataType: "JSON",

            success: function(data){
              data = data.missed_time
              console.log(data)

              $('#employee_email_id').val(data.employees.users.id)
              $('#employee_time_log_type').val(data.time_log_type)
              $('#employee_time_log').val(data.time_log)
              $('#missed_time_application_id').val(data.id)

              $('#employee_created_date').val(moment(data.date).format('YYYY-MM-DD'));

              selectize()
              $('#time_log_form_modal').modal('show')

            }
        })

    })

    function get_icon_details(){
        $.ajax({
                url: '/time_and_attendance/api/missed_time',
                type: "GET",
                contentType: "application/json",
                dataType: "JSON",
            
                success: function(data){
                  console.log(data)
                    for(i=0; i<data.missed_time.length; i++){
                        icon_pending = 0;
                        icon_approved = 0;
                        icon_denied = 0;
                        
                        if(data.missed_time[i].status == "Pending"){
                            icon_pending ++
                            $('#icon_pending').html(icon_pending)
                        }
                        else if(data.missed_time[i].status == "Declined"){
                            icon_denied ++
                            $('#icon_denied').html(icon_denied)
                        }
                        else if(data.missed_time[i].status == "Approved"){
                            icon_approved ++
                            $('#icon_approved').html(icon_approved)
                        }
                        
                    }
                }
            // ajax closing tag
        })
    }

    get_icon_details()


    $('#employee_missed_time_form_submit').on('click', function(e){
      e.preventDefault()

      id = $('#missed_time_application_id').val()

      let formData = {
        "status": $('#missed_time_application_status').val(),
      }

      $.ajax({
            url: '/time_and_attendance/api/missed_time/update_status/'+id,
            type: "PUT",
            data: JSON.stringify(formData),
            contentType: "application/json",
            dataType: "JSON",
        
            success: function(data){
                notification('bg-success', 'Success',  data.message)
                $('#time_log_form_modal').modal('hide')
                refresh()
            }
        // ajax closing tag
    })


      console.log(formData)
    })


function selectize(){
  $('select').select2({
    width: 'resolve'
  })
}


  


})
</script>
{%endblock%}