<!-- Apply layout from base.html -->
{%extends '/time_and_attendance/base.html'%} 

{%block navbar%}
    {%include 'time_and_attendance/includes/hr_navbar.html'%}
{%endblock%}

{%block sidebar%}
    {%include 'time_and_attendance/includes/hr_sidebar.html'%}
{%endblock%}

{%block content%}
<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
            <h1>Time In/Out</h1>
            </div>
            <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item active">Time In/Out</li>
            </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- general form elements -->
<!-- <section class="content">
    <div class="container-fluid">
        <div class="row align-items-center justify-content-center">
            <div class="col-8">
                <div class="card card-info">
                    <div class="card-header">
                        <h3 class="card-title">Create Employee</h3>
                    </div>
                    <form id="shift_type_form">
                        <div class="card-body">
                            <div class="form-group">
                                <label for="employee_title">Title</label>
                                <input type="text" class="form-control" id="employee_title" name="employee_title" placeholder="Enter title">
                            </div>
                            <div class="form-group">
                                <label for="employee_start_time">Start-Time</label>
                                <input type="time" class="form-control" id="employee_start_time" name="employee_start_time" placeholder="Select Start-Time" value="08:00">
                            </div>
                            <div class="form-group">
                                <label for="employee_end_time">End-Time</label>
                                <input type="time" class="form-control" id="employee_end_time" name="employee_end_time" placeholder="Select End-Time" value="17:00">
                            </div>
                        </div>
                    <div class="card-footer float-right">
                        <input type="submit" class="btn btn-info" value='Submit'>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section> -->
<!-- /.card -->

    <section class="content">
      <div class="container-fluid">
        <div class="row row align-items-center justify-content-center">
          <div class="col-12">
            <br><br><br>
              <div class="card card-outline card-primary">
                <!-- /.card-header -->
                <div class="card-body">
                  <div class="d-flex justify-content-center">
                    <button id="btn_time_in" type="button" class="btn btn-info btn-lg btn-block" style="width:75%"><i class="fas fa-clock"></i> Time In</button>
                  </div>
                </div>
                <div class="card-body">
                  <div class="d-flex justify-content-center">
                    <button id="btn_time_out" type="button" class="btn btn-warning btn-lg btn-block" style="width:75%"><i class="fas fa-clock"></i> Time Out</button>
                  </div>
                </div>
                <!-- /.card-body -->
              </div>
              <div class="card card-outline card-primary">
                <!-- /.card-header -->
                <div class="card-body">
                  <div class="card-header">
                    List of Time In
                  </div>
                  <div class="">
                    <table id="time_in_log_datatable" class="table table-bordered table-hover" style="width: 100%;">
                      <thead>
                          <th>ID</th>
                          <th>Employee Email</th>
                          <th>Log Type</th>
                          <th>Time Log</th>
                          <th>Date</th>
                      </thead>
                      <tbody>
                          <tr>

                          </tr>
                      </tbody>
                  </table>
                  </div>
                </div>
              </div>
              <div class="card card-outline card-primary">
                <!-- /.card-header -->
                <div class="card-body">
                  <div class="card-header">
                    List of Time Out
                  </div>
                  <div class="">
                    <table id="time_out_log_datatable" class="table table-bordered table-hover" style="width: 100%;">
                      <thead>
                          <th>ID</th>
                          <th>Employee Email</th>
                          <th>Log Type</th>
                          <th>Time Log</th>
                          <th>Date</th>
                      </thead>
                      <tbody>
                          <tr>

                          </tr>
                      </tbody>
                  </table>
                  </div>
                </div>
              </div>
              
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </section>

     <!-- ADD FORM -->
      <!-- Extra Large Modal -->
        <div class="modal fade" id="employee_time_in_form_modal">
          <div class="modal-dialog employee_time_in_form_modal modal-xl modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title">Time In</h4>
                <button type="button" class="btn btn-sm btn-default" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true"><i class="fas fa-times"></i></span>
                </button>
              </div>
              <div class="modal-body">
                <div hidden>
                  <input type="text" id="type_of_log">
                </div>
                <!-- <form id="employee_form">
                      <div class="card-body">
                          <div class="form-group">
                              <label for="user_id_option_time_in">User Email</label>
                              <select id="user_id_option_time_in" class="custom-select rounded-0" style="width:100%">
                                  
                              </select>
                          </div>
                      </div>
                </form> -->

                <div class="container">
                    <div class="row d-flex justify-content-center">
                        <div class="col-md-6">
                            <video id="preview" width="100%"></video>
                        </div>
                    </div>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <!-- <button type="button" id="employee_time_in_form_submit" class="btn btn-primary">Submit<i class='fas fa-check ml-1'></i></button> -->
              </div>
            </div>
            <!-- /.modal-content -->
          </div>
          <!-- /.modal-dialog -->
        </div>
      <!-- /.modal -->

    
{%endblock%}

{%block scripts%}
<script>
$(document).ready(function(){

  function loadtable(){
        time_in_log_datatable = $('#time_in_log_datatable').DataTable( {
            "ajax": {url:"/time_and_attendance/api/timein", dataSrc:"timein"},
            "columns": [
                { data: "id"},
                
                { data: "employees.users.email"},
                { data: "created_at", render: function(data, type, row){
                  return "Time-In"
                }},
                { data: "time_log", render: function(data, type, row){
                  date = moment().format('YYYY-MM-DD')
                  return moment(date + " " + data).format('LT');
                }},
                { data: "created_at", render: function(data, type, row){
                  return moment(data).format('LL')
                }},
            ],
            "paging": true,
            "lengthChange": false,
            "searching": true,
            "ordering": true,
            "info": true,
            "autoWidth": false,
            "responsive": true,

            "aoColumnDefs": [{ "bVisible": false, "aTargets": [0] }],
            "order": [[1, "desc"]]
        })
    }

    loadtable()

  function loadouttable(){
        time_out_log_datatable = $('#time_out_log_datatable').DataTable( {
            "ajax": {url:"/time_and_attendance/api/timeout", dataSrc:"timeout"},
            "columns": [
                { data: "id"},
                
                { data: "employees.users.email"},
                { data: "created_at", render: function(data, type, row){
                  return "Time-Out"
                }},
                { data: "time_log", render: function(data, type, row){
                  date = moment().format('YYYY-MM-DD')
                  return moment(date + " " + data).format('LT');
                }},
                { data: "created_at", render: function(data, type, row){
                  return moment(data).format('LL')
                }},
            ],
            "paging": true,
            "lengthChange": false,
            "searching": true,
            "ordering": true,
            "info": true,
            "autoWidth": false,
            "responsive": true,

            "aoColumnDefs": [{ "bVisible": false, "aTargets": [0] }],
            "order": [[1, "desc"]]
        })
    }

    loadouttable();

        
    function refresh(){

        var url = "/time_and_attendance/api/timein"
        time_in_log_datatable.ajax.url(url).load();

        var url = "/time_and_attendance/api/timeout"
        time_out_log_datatable.ajax.url(url).load();
    }

    
  function get_user_email_in(){
        
          $.ajax({
                  url: '/time_and_attendance/api/employee/get_employee_time_in',
                  type: "GET",
                  contentType: "application/json",
                  dataType: "JSON",
              
                  success: function(data){
                      employee = data.employee
                      console.log(employee)
                      html = "<option disabled selected>-- Please Select --</option>"
                      
                      for(var i=0; i < employee.length; i++){
                          html += `<option value="${employee[i].id}">${employee[i].users.email}</option>`
                      }

                      $('#user_id_option_time_in').html(html)
                  }
              })
              // ajax closing tag

              
  }

  function get_user_email_out(){
        
          $.ajax({
                  url: '/time_and_attendance/api/employee/get_employee_time_out',
                  type: "GET",
                  contentType: "application/json",
                  dataType: "JSON",
              
                  success: function(data){
                      employee = data.employee
                      console.log(employee)
                      html = "<option disabled selected>-- Please Select --</option>"
                      
                      for(var i=0; i < employee.length; i++){
                          html += `<option value="${employee[i].id}">${employee[i].users.email}</option>`
                      }

                      $('#user_id_option_time_out').html(html)

                  }
              })
              // ajax closing tag
            
  }

  

  $('#btn_time_in').on('click', function(e){
    // get_user_email_in()
    
    $('#type_of_log').val('time_in')
    $('#employee_time_in_form_modal').modal('show')
  })
  $('#btn_time_out').on('click', function(e){
      // get_user_email_out()
      
    $('#type_of_log').val('time_out')
    $('#employee_time_in_form_modal').modal('show')
  })

  $('#employee_time_in_form_submit').on('click', function(e){
    e.preventDefault()

    let id = $('#user_id_option_time_in').val()

    $.ajax({
            url: '/time_and_attendance/api/employee/'+id,
            type: "GET",
            contentType: "application/json",
            dataType: "JSON",
        
            success: function(data){
                d = new Date();
                datetext = d.toTimeString();
                datetext = datetext.split(' ')[0];
                time_log = datetext.slice(0, -3)             

                let formData = {
                  "employee_id": id,
                  "time_log": time_log
                }


                $.ajax({
                        url: '/time_and_attendance/api/timein',
                        type: "POST",
                        data: JSON.stringify(formData),
                        contentType: "application/json",
                        dataType: "JSON",
                    
                        success: function(data){
                            notification('bg-success', 'Success',  data.message)


                            $('#employee_time_in_form_modal').modal('hide')

                            let formData2 = {
                                "time_status": "Done"
                              }

                              $.ajax({
                                      url: '/time_and_attendance/api/employee/time_in/'+id,
                                      type: "PUT",
                                      data: JSON.stringify(formData2),
                                      contentType: "application/json",
                                      dataType: "JSON",
                                  
                                      success: function(data){
                                          notification('bg-success', 'Success',  data.message)

                            refresh()
                                          

                                      }
                                  // ajax closing tag
                              })
                        }
                    // ajax closing tag
                })

            }
        // ajax closing tag
    })
  })

  $('#employee_time_out_form_submit').on('click', function(e){
    e.preventDefault()

    let id = $('#user_id_option_time_out').val()

    $.ajax({
            url: '/time_and_attendance/api/employee/'+id,
            type: "GET",
            contentType: "application/json",
            dataType: "JSON",
        
            success: function(data){
                d = new Date();
                datetext = d.toTimeString();
                datetext = datetext.split(' ')[0];
                time_log = datetext.slice(0, -3)

                                            

                let formData = {
                  "employee_id": id,
                  "time_log": time_log
                }

                

                $.ajax({
                        url: '/time_and_attendance/api/timeout',
                        type: "POST",
                        data: JSON.stringify(formData),
                        contentType: "application/json",
                        dataType: "JSON",
                    
                        success: function(data){
                            notification('bg-success', 'Success',  data.message)

                                            

                            $('#employee_time_out_form_modal').modal('hide')

                        }
                    // ajax closing tag
                })
                
                let formData2 = {
                  "time_status": "Done"
                }

                $.ajax({
                        url: '/time_and_attendance/api/employee/time_out/'+id,
                        type: "PUT",
                        data: JSON.stringify(formData2),
                        contentType: "application/json",
                        dataType: "JSON",
                    
                        success: function(data){
                            notification('bg-success', 'Success',  data.message)
                            refresh()

                            

                        }
                    // ajax closing tag
                })
            }
        // ajax closing tag
    })
  })
    

  $('select').select2({
    width: 'resolve'
  })

  
  function qr_reader(){
    let scanner = new Instascan.Scanner({ video: document.getElementById('preview')});
      Instascan.Camera.getCameras().then(function(cameras){
          if(cameras.length > 0 ){
              scanner.start(cameras[0]);
          } else{
              alert('No cameras found');
          }
      }).catch(function(e) {
          console.error(e);
      });

      scanner.addListener('scan', function(c){
          log_type = $('#type_of_log').val()
          
          if(log_type == "time_out"){
                d = new Date();
                datetext = d.toTimeString();
                datetext = datetext.split(' ')[0];
                time_log = datetext.slice(0, -3)                                            

                let formData = {
                  "employee_id": c,
                  "time_log": time_log
                }
                
                $.ajax({
                        url: '/time_and_attendance/api/timeout',
                        type: "POST",
                        data: JSON.stringify(formData),
                        contentType: "application/json",
                        dataType: "JSON",
                    
                        success: function(data){
                            notification('bg-success', 'Success',  data.message)

                            $('#employee_time_in_form_modal').modal('hide')

                            let formData2 = {
                              "time_status": "Pending"
                            }

                            $.ajax({
                                    url: '/time_and_attendance/api/employee/attendance/'+c,
                                    type: "PUT",
                                    data: JSON.stringify(formData2),
                                    contentType: "application/json",
                                    dataType: "JSON",
                                
                                    success: function(data){
                                        // notification('bg-success', 'Success',  data.message)
                                        refresh()
                                        $.ajax({
                                            url: '/time_and_attendance/api/timeout/latest/'+c,
                                            type: "GET",
                                            contentType: "application/json",
                                            dataType: "JSON",
                                        
                                            success: function(data){
                                                // notification('bg-success', 'Success',  data.message)
                                                console.log(data)

                                                console.log((data.timeout.length) - 1)
                                                lastdata = (data.timeout.length) - 1

                                                console.log(data.timeout[lastdata])
                                                time_out_id = data.timeout[lastdata].id                                 

                                                let formData4 = {
                                                  "time_out_id": time_out_id
                                                }
                                                $.ajax({
                                                    url: '/time_and_attendance/api/timein/latest/'+c,
                                                      type: "GET",
                                                      contentType: "application/json",
                                                      dataType: "JSON",
                                                  
                                                      success: function(data){
                                                          // notification('bg-success', 'Success',  data.message)
                                                          console.log(data)

                                                          console.log((data.timein.length) - 1)
                                                          lastdata = (data.timein.length) - 1

                                                          console.log(data.timein[lastdata])
                                                          timein_data = data.timein[lastdata].id

                                                          $.ajax({
                                                            url: '/time_and_attendance/api/attendance/update_timeout/'+timein_data,
                                                            type: "PUT",
                                                            data: JSON.stringify(formData4),
                                                            contentType: "application/json",
                                                            dataType: "JSON",
                                                        
                                                            success: function(data){
                                                                console.log(data)
                                                            }
                                                          })
                                                      }
                                                })

                                                
                                            }
                                    })
                                    }
                                // ajax closing tag
                          })
                        }
                    // ajax closing tag
                })

                

          }
          else if(log_type == "time_in"){
            d = new Date();
                datetext = d.toTimeString();
                datetext = datetext.split(' ')[0];
                time_log = datetext.slice(0, -3)             

                let formData = {
                  "employee_id": c,
                  "time_log": time_log
                }


                $.ajax({
                        url: '/time_and_attendance/api/timein',
                        type: "POST",
                        data: JSON.stringify(formData),
                        contentType: "application/json",
                        dataType: "JSON",
                    
                        success: function(data){
                            notification('bg-success', 'Success',  data.message)

                            $.ajax({
                                url: '/time_and_attendance/api/timein/latest/'+c,
                                  type: "GET",
                                  contentType: "application/json",
                                  dataType: "JSON",
                              
                                  success: function(data){
                                      // notification('bg-success', 'Success',  data.message)
                                      console.log(data)

                                      console.log((data.timein.length) - 1)
                                      lastdata = (data.timein.length) - 1

                                      console.log(data.timein[lastdata])
                                      timein_data = data.timein[lastdata].id
                                      
                                      let formData3 = {
                                        "employee_id": c,
                                        "time_in_id": timein_data,
                                      }

                                      $.ajax({
                                        url: '/time_and_attendance/api/attendance',
                                          type: "POST",
                                          data: JSON.stringify(formData3),
                                          contentType: "application/json",
                                          dataType: "JSON",
                                      
                                          success: function(data){
                                              let formData2 = {
                                                  "time_status": "Done"
                                              }

                                                $.ajax({
                                                        url: '/time_and_attendance/api/employee/attendance/'+c,
                                                        type: "PUT",
                                                        data: JSON.stringify(formData2),
                                                        contentType: "application/json",
                                                        dataType: "JSON",
                                                    
                                                        success: function(data){
                                                            // notification('bg-success', 'Success',  data.message)

                                                            refresh()
                                                            
                                                        }
                                                    // ajax closing tag
                                                })
                                          }
                                  })
                                  }
                          })

                            $('#employee_time_in_form_modal').modal('hide')

                            
                        }
                    // ajax closing tag
                })
          }
    });
  }

  qr_reader()


  
})
</script>
{%endblock%}