<!-- Apply layout from base.html -->
{%extends '/time_and_attendance/base.html'%} 

{%block navbar%}
    {%include 'time_and_attendance/includes/admin_navbar.html'%}
{%endblock%}

{%block sidebar%}
    {%include 'time_and_attendance/includes/admin_sidebar.html'%}
{%endblock%}

{%block content%}
<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
            <h1>Leave Sub Type</h1>
            </div>
            <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item active">Leave Sub Type</li>
            </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- general form elements -->
<!-- <section class="content">
    <div class="container-fluid">
        <div class="row align-items-center justify-content-center">
            <div class="col-8">
                <div class="card card-info">
                    <div class="card-header">
                        <h3 class="card-title">Create Leave Sub Type</h3>
                    </div>
                    <form id="shift_type_form">
                        <div class="card-body">
                            <div class="form-group">
                                <label for="leave_sub_types_title">Title</label>
                                <input type="text" class="form-control" id="leave_sub_types_title" name="leave_sub_types_title" placeholder="Enter title">
                            </div>
                            <div class="form-group">
                                <label for="leave_sub_types_start_time">Start-Time</label>
                                <input type="time" class="form-control" id="leave_sub_types_start_time" name="leave_sub_types_start_time" placeholder="Select Start-Time" value="08:00">
                            </div>
                            <div class="form-group">
                                <label for="leave_sub_types_end_time">End-Time</label>
                                <input type="time" class="form-control" id="leave_sub_types_end_time" name="leave_sub_types_end_time" placeholder="Select End-Time" value="17:00">
                            </div>
                        </div>
                    <div class="card-footer float-right">
                        <input type="submit" class="btn btn-info" value='Submit'>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section> -->
<!-- /.card -->

<section class="content">
      <div class="container-fluid">
        <div class="row row align-items-center justify-content-center">
          <div class="col-12">
            <div class="card">
              <div class="card-header d-flex justify-content-between">
                <h3 class="card-title">List of Leave Sub Types</h3>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#leave_sub_types_form_modal">
                  <i class="far fa-plus-square"></i> Add New
                </button>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <table id="leave_sub_types_datatable" class="table table-bordered table-hover">
                    <thead>
                        <th>ID</th>
                        <th>Date Created</th>
                        <th width="33%">Leave Type</th>
                        <th width="33%">Title</th>
                        <th width="33%">Actions</th>
                    </thead>
                    <tbody>
                        <tr>

                        </tr>
                    </tbody>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </section>

    <!-- ADD FORM -->
    <!-- Extra Large Modal -->
      <div class="modal fade" id="leave_sub_types_form_modal">
        <div class="modal-dialog leave_sub_types_form_modal modal-xl modal-dialog-centered modal-dialog-scrollable">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Create Leave Sub Type</h4>
              <button type="button" class="btn btn-sm btn-default" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true"><i class="fas fa-times"></i></span>
              </button>
            </div>
            <div class="modal-body">
              <form id="leave_sub_types_form">
                        <div class="card-body">
                                <div class="form-group">
                                    <label for="leave_type">Leave Type</label>
                                    <select id="leave_type" class="custom-select rounded-0" style="width:100%">
                                        
                                    </select>
                                </div>
                            </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="leave_sub_types_title">Title</label>
                                <input type="text" class="form-control" id="leave_sub_types_title" name="leave_sub_types_title" placeholder="Enter title">
                            </div>
                        </div>
                </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <button type="button" id="leave_sub_types_form_submit" class="btn btn-info">Submit</button>
            </div>
          </div>
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
      </div>
    <!-- /.modal -->

    <!-- EDIT FORM -->
    <!-- Extra Large Modal -->
      <div class="modal fade" id="leave_sub_types_form_modal_edit">
        <div class="modal-dialog leave_sub_types_form_modal_edit modal-xl modal-dialog-centered modal-dialog-scrollable">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Edit Leave Sub Type</h4>
              <button type="button" class="btn btn-sm btn-default" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true"><i class="fas fa-times"></i></span>
              </button>
            </div>
            <div class="modal-body">
              <form id="leave_sub_types_form_edit">
                        <div class="card-body">
                            <div class="form-group" hidden>
                                <label for="leave_sub_types_id_edit">ID</label>
                                <input type="text" class="form-control" id="leave_sub_types_id_edit" name="leave_sub_types_id_edit" placeholder="Enter title">
                            </div>
                            <div class="form-group">
                                  <label for="leave_type_edit">Leave Type</label>
                                  <select id="leave_type_edit" class="custom-select rounded-0" style="width:100%">
                                      
                                  </select>
                            </div>
                            <div class="form-group">
                                <label for="leave_sub_types_title_edit">Title</label>
                                <input type="text" class="form-control" id="leave_sub_types_title_edit" name="leave_sub_types_title_edit" placeholder="Enter title">
                            </div>
                        </div>
                </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <button type="button" id="leave_sub_types_btn_edit" class="btn btn-primary">Save Changes</button>
            </div>
          </div>
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
      </div>
    <!-- /.modal -->

    <!-- DELETE FORM -->
    <!-- Extra Large Modal -->
      <div class="modal fade" id="leave_sub_types_form_modal_delete">
        <div class="modal-dialog leave_sub_types_form_modal_delete modal-xl modal-dialog-centered modal-dialog-scrollable">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Deactivate Leave Sub Type</h4>
              <button type="button" class="btn btn-sm btn-default" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true"><i class="fas fa-times"></i></span>
              </button>
            </div>
            <div class="modal-body">
              <form id="leave_sub_types_form_delete">
                        <div class="card-body">
                            <div class="form-group" hidden>
                                <label for="leave_sub_types_id_delete">ID</label>
                                <input type="text" class="form-control" id="leave_sub_types_id_delete" name="leave_sub_types_id_delete" placeholder="Enter title">
                            </div>
                        </div>
                </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <button type="button" id="leave_sub_types_btn_delete" class="btn btn-danger">Deactivate</button>
            </div>
          </div>
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
      </div>
    <!-- /.modal -->
    
{%endblock%}

{%block scripts%}
<script>
$(document).ready(function(){


    function loadtable(){
        leave_sub_types_datatable = $('#leave_sub_types_datatable').DataTable( {
            "ajax": {url:"/time_and_attendance/api/leavesubtype", dataSrc:"leavesubtype"},
            "columns": [
                { data: "id"},
                { data: "created_at" },
                { data: "leave_types.title"},
                { data: "title"},
                { data: "active_status", render: function(data, type, row){
                        if(data == "Active"){
                            return `
                            <button type="button" id=${row.id} class="btn btn-warning btn_edit"><i class="far fa-edit"></i> Update</button>
                            <button type="button" id=${row.id} class="btn btn-danger btn_delete"><i class="far fa-trash-alt"></i> Deactivate</button>
                            `
                        }   
                        else{
                            return '<button>Activate</button>';
                        }
                    }
                },
            ],
            "paging": true,
            "lengthChange": false,
            "searching": true,
            "ordering": true,
            "info": true,
            "autoWidth": false,
            "responsive": true,

            "aoColumnDefs": [{ "bVisible": false, "aTargets": [0, 1] }],
            "order": [[1, "desc"]]
        })
    }

    loadtable();


});


function refresh(){
    var url = "/time_and_attendance/api/leavesubtype";

    leave_sub_types_datatable.ajax.url(url).load();
}

function get_leave_type(){
       
        $.ajax({
                url: '/time_and_attendance/api/leavetype/',
                type: "GET",
                contentType: "application/json",
                dataType: "JSON",
            
                success: function(data){
                    leavetype = data.leavetype
                    html = ""
                    
                    for(var i=0; i < leavetype.length; i++){
                        html += `<option value="${leavetype[i].id}">${leavetype[i].title}</option>`
                    }

                    $('#leave_type').append(html)
                    $('#leave_type_edit').append(html)
                }
            })
            // ajax closing tag

}

get_leave_type()

$('#leave_sub_types_form_submit').on('click', function(e){
    e.preventDefault()

    $('#leave_sub_types_form_submit').prop('disabled', true)

    let formData = {
        title: $('#leave_sub_types_title').val(),
        leave_type_id: $('#leave_type').val(),
    }

    $.ajax({
            url: '/time_and_attendance/api/leavesubtype',
            type: "POST",
            data: JSON.stringify(formData),
            contentType: "application/json",
            dataType: "JSON",
        
            success: function(data){
                Swal.fire(
                    'Success!',
                    data.message,
                    'success'
                )

                $('#leave_sub_types_form').trigger("reset")
                $('#leave_sub_types_form_submit').prop('disabled', false)
                $('#leave_sub_types_form_modal').modal('hide')
                refresh()
            }
        // ajax closing tag
    })

    $('#leave_sub_types_form_submit').prop('disabled', false)
});

$(document).on('click', '.btn_edit', function(e){
    e.preventDefault()

    let id = this.id

    $.ajax({
            url: '/time_and_attendance/api/leavesubtype/'+id,
            type: "GET",
            contentType: "application/json",
            dataType: "JSON",
        
            success: function(data){
                $('#leave_sub_types_id_edit').val(data.leavesubtype.id);
                $('#leave_sub_types_title_edit').val(data.leavesubtype.title);
                $('#leave_type_edit').val(data.leavesubtype.leave_types.id);
                $('#leave_sub_types_end_time_edit').val(data.leavesubtype.end_time);


                $('#leave_sub_types_form_modal_edit').modal('show');
            }
        // ajax closing tag
    })
})

$('#leave_sub_types_btn_edit').on('click', function(e){
    e.preventDefault()
    $('#leave_sub_types_btn_edit').prop('disabled', true)

    let id = $('#leave_sub_types_id_edit').val()

    let formData = {
        title: $('#leave_sub_types_title_edit').val(),
        leave_type_id: $('#leave_type_edit').val(),
    }
    console.log(formData)

    $.ajax({
            url: '/time_and_attendance/api/leavesubtype/'+id,
            type: "PUT",
            data: JSON.stringify(formData),
            contentType: "application/json",
            dataType: "JSON",
        
            success: function(data){
                Swal.fire(
                    'Success!',
                    data.message,
                    'success'
                )

                $('#leave_sub_types_form_edit').trigger("reset")
                $('#leave_sub_types_btn_edit').prop('disabled', false)
                $('#leave_sub_types_form_modal_edit').modal('hide')
                refresh()
            }
        // ajax closing tag
    })

    $('#leave_sub_types_btn_edit').prop('disabled', false)
})

$(document).on('click', '.btn_delete', function(e){
    e.preventDefault()

    let id = this.id

    $.ajax({
            url: '/time_and_attendance/api/leavesubtype/'+id,
            type: "GET",
            contentType: "application/json",
            dataType: "JSON",
        
            success: function(data){
                $('#leave_sub_types_id_delete').val(data.leavesubtype.id);

                $('#leave_sub_types_form_modal_delete').modal('show');
            }
        // ajax closing tag
    })
})

$('#leave_sub_types_btn_delete').on('click', function(e){
    e.preventDefault()
    $('#leave_sub_types_btn_delete').prop('disabled', true)

    let id = $('#leave_sub_types_id_delete').val()


    $.ajax({
            url: '/time_and_attendance/api/leavesubtype/delete/'+id,
            type: "PUT",
            contentType: "application/json",
            dataType: "JSON",
        
            success: function(data){
                Swal.fire(
                    'Success!',
                    data.message,
                    'success'
                )

                $('#leave_sub_types_form_delete').trigger("reset")
                $('#leave_sub_types_btn_delete').prop('disabled', false)
                $('#leave_sub_types_form_modal_delete').modal('hide')
                refresh()
            }
        // ajax closing tag
    })

    $('#leave_sub_types_btn_delete').prop('disabled', false)
    
})



$('select').select2({
  width: 'resolve'
})

</script>
{%endblock%}