<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Time and Attendance</title>
    <link rel="stylesheet" href="{{url_for('static', path='/plugins/fontawesome-free/css/all.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static', path='/plugins/toastr/toastr.css')}}">

    <!-- BLOCK FOR PLUGINS STYLESHEET -->
    {%block plugins_css%}

      <!-- overlayScrollbars -->
      <link rel="stylesheet" href="{{url_for('static', path='/plugins/overlayScrollbars/css/OverlayScrollbars.min.css')}}">
      
      <!-- DataTables -->
      <link rel="stylesheet" href="{{url_for('static', path='/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css')}}">
      <link rel="stylesheet" href="{{url_for('static', path='/plugins/datatables-responsive/css/responsive.bootstrap4.min.css')}}">
      <link rel="stylesheet" href="{{url_for('static', path='/plugins/datatables-buttons/css/buttons.bootstrap4.min.css')}}">
      <link rel="stylesheet" href="{{url_for('static', path='/plugins/sweetalert2/sweetalert2.css')}}">
      <link rel="stylesheet" href="{{url_for('static', path='/plugins/sweetalert2/sweetalert2.min.css')}}">
      <link rel="stylesheet" href="{{url_for('static', path='/plugins/select2/css/select2.css')}}">
      <link rel="stylesheet" href="{{url_for('static', path='/plugins/select2/css/select2.min.css')}}">

    {%endblock%}
    
    <link rel="stylesheet" href="{{url_for('static', path='/dist/css/adminlte.min.css')}}">
    
    <!-- BLOCK FOR EXTRA STYLES -->
    {%block styles%}
    {%endblock%}

</head>

<body class="hold-transition sidebar-mini">
  
    <div class="wrapper">

      {%block navbar%}
      
      {%endblock%}


      {%block sidebar%}
      
      {%endblock%}


        <div class="content-wrapper">
          <!-- BLOCK FOR MAIN CONTENT -->
          {%block content%}

          {%endblock%}
        </div>

    </div>

    <script src="{{url_for('static', path='/plugins/jquery/jquery.min.js')}}"></script>
    <script src="{{url_for('static', path='/plugins/bootstrap/js/bootstrap.bundle.min.js')}}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.qrcode/1.0/jquery.qrcode.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/webrtc-adapter/3.3.3/adapter.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.1.10/vue.min.js"></script>
    <script type="text/javascript" src="https://rawgit.com/schmich/instascan-builds/master/instascan.min.js"></script>

    <!-- BLOCK FOR PLUGINS JAVASCRIPT -->
    {%block plugins_js%}
      <!-- Bootstrap 4 -->
      <script src="{{url_for('static', path='/plugins/bootstrap/js/bootstrap.bundle.min.js')}}"></script>
      <!-- overlayScrollbars -->
      <script src="{{url_for('static', path='/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js')}}"></script>
      <!-- DataTables  & Plugins -->
      <script src="{{url_for('static', path='/plugins/datatables/jquery.dataTables.min.js')}}"></script>
      <script src="{{url_for('static', path='/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js')}}"></script>
      <script src="{{url_for('static', path='/plugins/datatables-responsive/js/dataTables.responsive.min.js')}}"></script>
      <script src="{{url_for('static', path='/plugins/datatables-responsive/js/responsive.bootstrap4.min.js')}}"></script>
      <script src="{{url_for('static', path='/plugins/datatables-buttons/js/dataTables.buttons.min.js')}}"></script>
      <script src="{{url_for('static', path='/plugins/datatables-buttons/js/buttons.bootstrap4.min.js')}}"></script>
      <script src="{{url_for('static', path='/plugins/jszip/jszip.min.js')}}"></script>
      <script src="{{url_for('static', path='/plugins/pdfmake/pdfmake.min.js')}}"></script>
      <script src="{{url_for('static', path='/plugins/pdfmake/vfs_fonts.js')}}"></script>
      <script src="{{url_for('static', path='/plugins/datatables-buttons/js/buttons.html5.min.js')}}"></script>
      <script src="{{url_for('static', path='/plugins/datatables-buttons/js/buttons.print.min.js')}}"></script>
      <script src="{{url_for('static', path='/plugins/datatables-buttons/js/buttons.colVis.min.js')}}"></script>
      <script src="{{url_for('static', path='/plugins/sweetalert2/sweetalert2.js')}}"></script>
      <script src="{{url_for('static', path='/plugins/sweetalert2/sweetalert2.min.js')}}"></script>
      <script src="{{url_for('static', path='/plugins/moment/moment-with-locales.js')}}"></script>
      <script src="{{url_for('static', path='/plugins/moment/moment-with-locales.min.js')}}"></script>
      <script src="{{url_for('static', path='/plugins/toastr/toastr.min.js')}}"></script>
      <!-- AdminLTE App -->
      <script src="{{url_for('static', path='/dist/js/adminlte.min.js')}}"></script>
      <!-- AdminLTE for demo purposes -->
      <script src="{{url_for('static', path='/dist/js/demo.js')}}"></script>
    {%endblock%}
    
    <script src="{{url_for('static', path='/dist/js/adminlte.min.js')}}"></script>
    <script src="{{url_for('static', path='/plugins/select2/js/select2.js')}}"></script>
    <script src="{{url_for('static', path='/plugins/select2/js/select2.min.js')}}"></script>

    <script>
      function notification(r_class, title, body){
        if(r_class == "bg-success"){
          toastr.success(body)
        }
        else if(r_class == "bg-info"){
          toastr.info(body)
        }
        else if(r_class == "bg-warning"){
          toastr.warning(body)
        }
        else if(r_class == "bg-danger"){
          toastr.error(body)
        }

        // $(document).toastr('create', {
        //   class: r_class,
        //   title: title,
        //   body: body,
        // })
      };
    </script>
    <!-- BLOCK FOR EXTRA SCRIPTS -->
    {%block scripts%}
    
    {%endblock%}
</body>
</html>