<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Time and Attendance</title>
    <link rel="stylesheet" href="{{url_for('static', path='/plugins/fontawesome-free/css/all.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static', path='/plugins/toastr/toastr.css')}}">

    <!-- BLOCK FOR PLUGINS STYLESHEET -->
    {%block plugins_css%}

      <!-- overlayScrollbars -->
      <link rel="stylesheet" href="{{url_for('static', path='/plugins/overlayScrollbars/css/OverlayScrollbars.min.css')}}">
      
      <!-- DataTables -->
      <link rel="stylesheet" href="{{url_for('static', path='/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css')}}">
      <link rel="stylesheet" href="{{url_for('static', path='/plugins/datatables-responsive/css/responsive.bootstrap4.min.css')}}">
      <link rel="stylesheet" href="{{url_for('static', path='/plugins/datatables-buttons/css/buttons.bootstrap4.min.css')}}">
      <link rel="stylesheet" href="{{url_for('static', path='/plugins/sweetalert2/sweetalert2.css')}}">
      <link rel="stylesheet" href="{{url_for('static', path='/plugins/sweetalert2/sweetalert2.min.css')}}">
      <link rel="stylesheet" href="{{url_for('static', path='/plugins/select2/css/select2.css')}}">
      <link rel="stylesheet" href="{{url_for('static', path='/plugins/select2/css/select2.min.css')}}">

    {%endblock%}
    
    <link rel="stylesheet" href="{{url_for('static', path='/dist/css/adminlte.min.css')}}">
    
    <!-- BLOCK FOR EXTRA STYLES -->
    {%block styles%}
    {%endblock%}

</head>


  
    <body class="hold-transition login-page bg-white">
        <div class="login-box">
          <div class="login-logo">
            <a href=""><b>HM</b>CMS</a>
          </div>
          <!-- /.login-logo -->
          <div class="card shadow-none">
            <div class="card-body login-card-body">
              <p class="login-box-msg">Sign in to start your session</p>

              <form id="login_form">
                <div class="input-group mb-3">
                  <input type="email" id="login_email" class="form-control" placeholder="Email">
                  <div class="input-group-append">
                    <div class="input-group-text">
                      <span class="fas fa-envelope"></span>
                    </div>
                  </div>
                </div>
                <div class="input-group mb-3">
                  <input type="password" id="login_password" class="form-control" placeholder="Password">
                  <div class="input-group-append">
                    <div class="input-group-text">
                      <span class="fas fa-lock"></span>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-8">
                    <div class="icheck-primary">
                      <input type="checkbox" id="remember">
                        <label for="remember">
                          Remember Me
                      </label>
                    </div>
                  </div>
                  <!-- /.col -->
                  <div class="col-4">
                    <button type="submit" class="btn btn-primary btn-block">Sign In</button>
                  </div>
                  <!-- /.col -->
                </div>
              </form>

              <div class="social-auth-links text-center mb-3">
                <p>- OR -</p>
              </div>

              <p class="mb-1">
                <a href="#">I forgot my password</a>
              </p>
              <p class="mb-0">
                <a href="#" class="text-center">Register a new membership</a>
              </p>

            <!-- /.login-card-body -->
          </div>
        </div>
        <!-- /.login-box -->


    <script src="{{url_for('static', path='/plugins/jquery/jquery.min.js')}}"></script>
    <script src="{{url_for('static', path='/plugins/bootstrap/js/bootstrap.bundle.min.js')}}"></script>


    <!-- BLOCK FOR PLUGINS JAVASCRIPT -->
    {%block plugins_js%}
      <!-- Bootstrap 4 -->
      <script src="{{url_for('static', path='/plugins/bootstrap/js/bootstrap.bundle.min.js')}}"></script>
      <!-- overlayScrollbars -->
      <script src="{{url_for('static', path='/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js')}}"></script>
      <!-- DataTables  & Plugins -->
      <script src="{{url_for('static', path='/plugins/datatables/jquery.dataTables.min.js')}}"></script>
      <script src="{{url_for('static', path='/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js')}}"></script>
      <script src="{{url_for('static', path='/plugins/datatables-responsive/js/dataTables.responsive.min.js')}}"></script>
      <script src="{{url_for('static', path='/plugins/datatables-responsive/js/responsive.bootstrap4.min.js')}}"></script>
      <script src="{{url_for('static', path='/plugins/datatables-buttons/js/dataTables.buttons.min.js')}}"></script>
      <script src="{{url_for('static', path='/plugins/datatables-buttons/js/buttons.bootstrap4.min.js')}}"></script>
      <script src="{{url_for('static', path='/plugins/jszip/jszip.min.js')}}"></script>
      <script src="{{url_for('static', path='/plugins/pdfmake/pdfmake.min.js')}}"></script>
      <script src="{{url_for('static', path='/plugins/pdfmake/vfs_fonts.js')}}"></script>
      <script src="{{url_for('static', path='/plugins/datatables-buttons/js/buttons.html5.min.js')}}"></script>
      <script src="{{url_for('static', path='/plugins/datatables-buttons/js/buttons.print.min.js')}}"></script>
      <script src="{{url_for('static', path='/plugins/datatables-buttons/js/buttons.colVis.min.js')}}"></script>
      <script src="{{url_for('static', path='/plugins/sweetalert2/sweetalert2.js')}}"></script>
      <script src="{{url_for('static', path='/plugins/sweetalert2/sweetalert2.min.js')}}"></script>
      <script src="{{url_for('static', path='/plugins/moment/moment-with-locales.js')}}"></script>
      <script src="{{url_for('static', path='/plugins/moment/moment-with-locales.min.js')}}"></script>
      <script src="{{url_for('static', path='/plugins/toastr/toastr.min.js')}}"></script>
      <!-- AdminLTE App -->
      <script src="{{url_for('static', path='/dist/js/adminlte.min.js')}}"></script>
      <!-- AdminLTE for demo purposes -->
      <script src="{{url_for('static', path='/dist/js/demo.js')}}"></script>
    {%endblock%}
    
    <script src="{{url_for('static', path='/dist/js/adminlte.min.js')}}"></script>
    <script src="{{url_for('static', path='/plugins/select2/js/select2.js')}}"></script>
    <script src="{{url_for('static', path='/plugins/select2/js/select2.min.js')}}"></script>

    <!-- BLOCK FOR EXTRA SCRIPTS -->
    {%block scripts%}
    {%endblock%}


    <script>
      function notification(r_class, title, body){
        if(r_class == "bg-success"){
          toastr.success(body)
        }
        else if(r_class == "bg-info"){
          toastr.info(body)
        }
        else if(r_class == "bg-warning"){
          toastr.warning(body)
        }
        else if(r_class == "bg-danger"){
          toastr.error(body)
        }

        // $(document).toastr('create', {
        //   class: r_class,
        //   title: title,
        //   body: body,
        // })
      };

      $(document).ready(function(){

          $('#login_form').on('submit', function(e){
            e.preventDefault()

            let formData = {
              email: $('#login_email').val(),
              password: $('#login_password').val()
            }

            $.ajax({
              url: '/time_and_attendance/api/auth/verify',
              type: 'POST',
              data: JSON.stringify(formData),
              contentType: "application/json",
              dataType: "JSON",

              success: function(data){
                user = data.user;
                console.log(user)

                if(data.message == "User not found."){
                  notification('bg-warning', 'Failed', data.message)
                }
                else{
                  notification('bg-success', 'Success', data.message)
                }

              // Store

              if(user.user_types.title != "Employee"){  
                sessionStorage.setItem("id", user.id);
              }
              else{
                sessionStorage.setItem("id", user.employees[0].id);
              }

              sessionStorage.setItem("email", user.email);
              sessionStorage.setItem("type", user.user_types.title);

              console.log(sessionStorage.getItem("id"))
              console.log(sessionStorage.getItem("email"))
              console.log(sessionStorage.getItem("type"))


              if(user.user_types.title == "Employee"){
                  setInterval(function(){
                    window.location.href = '/time_and_attendance/employee/employee'
                  },2000)
                }
                else if(user.user_types.title == "Admin"){
                  setInterval(function(){
                    window.location.href = '/time_and_attendance/admin/user';
                  },2000)
                  
                }
                else if(user.user_types.title == "HR"){
                  setInterval(function(){
                    window.location.href = '/time_and_attendance/hr/employee';
                  },2000)
                }
              }



            })

          })
      })
    </script>

</body>
</html>