<!-- Apply layout from base.html -->
{%extends '/time_and_attendance/base.html'%} 

{%block navbar%}
    {%include 'time_and_attendance/includes/employee_navbar.html'%}
{%endblock%}

{%block sidebar%}
    {%include 'time_and_attendance/includes/employee_sidebar.html'%}
{%endblock%}

{%block content%}
<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
            <h1>Profile</h1>
            </div>
            <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item active">Profile</li>
            </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- general form elements -->
<!-- <section class="content">
    <div class="container-fluid">
        <div class="row align-items-center justify-content-center">
            <div class="col-8">
                <div class="card card-info">
                    <div class="card-header">
                        <h3 class="card-title">Create Employee</h3>
                    </div>
                    <form id="shift_type_form">
                        <div class="card-body">
                            <div class="form-group">
                                <label for="employee_title">Title</label>
                                <input type="text" class="form-control" id="employee_title" name="employee_title" placeholder="Enter title">
                            </div>
                            <div class="form-group">
                                <label for="employee_start_time">Start-Time</label>
                                <input type="time" class="form-control" id="employee_start_time" name="employee_start_time" placeholder="Select Start-Time" value="08:00">
                            </div>
                            <div class="form-group">
                                <label for="employee_end_time">End-Time</label>
                                <input type="time" class="form-control" id="employee_end_time" name="employee_end_time" placeholder="Select End-Time" value="17:00">
                            </div>
                        </div>
                    <div class="card-footer float-right">
                        <input type="submit" class="btn btn-info" value='Submit'>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section> -->
<!-- /.card -->

        

<section class="content">
      <div class="container-fluid">
        <div class="row row align-items-center justify-content-center">
          <div class="col-12">
            <!-- Horizontal Form -->
            <div class="card card-info">
              <div class="card-header">
                <h3 class="card-title">Employee Profile</h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
              <form class="form-horizontal">
                <div class="card-body">
                  <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Email:</label>
                    <div class="col-sm-10">
                      <label style="font-weight: 400;" id="employee_email" class="col-sm-10 col-form-label"></label>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Type:</label>
                    <div class="col-sm-10">
                      <label style="font-weight: 400;" id="employee_type" class="col-sm-10 col-form-label"></label>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Shift Type:</label>
                    <div class="col-sm-10">
                      <label style="font-weight: 400;" id="employee_shift_type" class="col-sm-10 col-form-label"></label>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Schedule:</label>
                    <div class="col-sm-10">
                      <label style="font-weight: 400;" id="employee_schedule" class="col-sm-10 col-form-label"></label>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-sm-2 col-form-label">QR Code:</label>
                    <div class="col-sm-10">
                      <label style="font-weight: 400;" id="employee_schedule" class="col-sm-10 col-form-label"></label>
                      <div id="qrcode"></div>
                    </div>
                  </div>
                </div>
                <!-- /.card-body -->
                <!-- <div class="card-footer">
                  <button type="submit" class="btn btn-info">Sign in</button>
                  <button type="submit" class="btn btn-default float-right">Cancel</button>
                </div> -->
                <!-- /.card-footer -->
              </form>
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </section>

    <!-- ADD FORM -->
    <!-- Extra Large Modal -->
      <div class="modal fade" id="employee_form_modal">
        <div class="modal-dialog employee_form_modal modal-xl modal-dialog-centered modal-dialog-scrollable">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Create Employee</h4>
              <button type="button" class="btn btn-sm btn-default" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true"><i class="fas fa-times"></i></span>
              </button>
            </div>
            <div class="modal-body">
              <form id="employee_form">
                        <div class="card-body">
                            <div class="form-group">
                                <label for="user_id_option">User Email</label>
                                <select id="user_id_option" class="custom-select rounded-0" style="width:100%">
                                    
                                </select>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="employee_type_id_option">Employee Type</label>
                                <select id="employee_type_id_option" class="custom-select rounded-0" style="width:100%">
                                    
                                </select>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="shift_type_id_option">Shift Type</label>
                                <select id="shift_type_id_option" class="custom-select rounded-0" style="width:100%">
                                    
                                </select>
                            </div>
                            <div class="form-group">
                                  <label for="schedule_option">Schedule</label>
                                  <div class="row">
                                        <div class="custom-control custom-checkbox" style="padding-left: 2.5rem;">
                                          <input class="custom-control-input" type="checkbox" name="schedule_option" id="schedule_option_monday">
                                          <label for="schedule_option_monday" class="custom-control-label">Monday</label>
                                        </div>
                                        <div class="custom-control custom-checkbox" style="padding-left: 2.5rem;">
                                          <input class="custom-control-input" type="checkbox" name="schedule_option" id="schedule_option_tuesday">
                                          <label for="schedule_option_tuesday" class="custom-control-label">Tuesday</label>
                                        </div>
                                        <div class="custom-control custom-checkbox" style="padding-left: 2.5rem;">
                                          <input class="custom-control-input" type="checkbox" name="schedule_option" id="schedule_option_wednesday">
                                          <label for="schedule_option_wednesday" class="custom-control-label">Wednesday</label>
                                        </div>
                                        <div class="custom-control custom-checkbox" style="padding-left: 2.5rem;">
                                          <input class="custom-control-input" type="checkbox" name="schedule_option" id="schedule_option_thursday">
                                          <label for="schedule_option_thursday" class="custom-control-label">Thursday</label>
                                        </div>
                                        <div class="custom-control custom-checkbox" style="padding-left: 2.5rem;">
                                          <input class="custom-control-input" type="checkbox" name="schedule_option" id="schedule_option_friday">
                                          <label for="schedule_option_friday" class="custom-control-label">Friday</label>
                                        </div>
                                        <div class="custom-control custom-checkbox" style="padding-left: 2.5rem;">
                                          <input class="custom-control-input" type="checkbox" name="schedule_option" id="schedule_option_saturday">
                                          <label for="schedule_option_saturday" class="custom-control-label">Saturday</label>
                                        </div>
                                        <div class="custom-control custom-checkbox" style="padding-left: 2.5rem;">
                                          <input class="custom-control-input" type="checkbox" name="schedule_option" id="schedule_option_sunday">
                                          <label for="schedule_option_sunday" class="custom-control-label">Sunday</label>
                                        </div>
                                  </div>
                            </div>
                        </div>
                </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <button type="button" id="employee_form_submit" class="btn btn-info">Submit</button>
            </div>
          </div>
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
      </div>
    <!-- /.modal -->

    <!-- EDIT FORM -->
    <!-- Extra Large Modal -->
      <div class="modal fade" id="employee_form_modal_edit">
        <div class="modal-dialog employee_form_modal_edit modal-xl modal-dialog-centered modal-dialog-scrollable">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Edit Employee</h4>
              <button type="button" class="btn btn-sm btn-default" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true"><i class="fas fa-times"></i></span>
              </button>
            </div>
            <div class="modal-body">
              <form id="employee_form_edit">
                        <div class="card-body" hidden>
                            <div class="form-group">
                                <label for="employee_id_edit">ID</label>
                                <input id="employee_id_edit" type="text" class="custom-select rounded-0">
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="user_id_option_edit">User Email</label>
                                <select id="user_id_option_edit" class="custom-select rounded-0" style="width:100%" disabled>
                                    
                                </select>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="employee_type_id_option_edit">Employee Type</label>
                                <select id="employee_type_id_option_edit" class="custom-select rounded-0" style="width:100%" disabled>
                                    
                                </select>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="shift_type_id_option_edit">Shift Type</label>
                                <select id="shift_type_id_option_edit" class="custom-select rounded-0" style="width:100%" >
                                    
                                </select>
                            </div>
                            <div class="form-group">
                                  <label for="schedule_option">Schedule</label>
                                  <div class="row">
                                        <div class="custom-control custom-checkbox" style="padding-left: 2.5rem;">
                                          <input class="custom-control-input" type="checkbox" name="schedule_option_edit" id="schedule_option_monday_edit">
                                          <label for="schedule_option_monday_edit" class="custom-control-label">Monday</label>
                                        </div>
                                        <div class="custom-control custom-checkbox" style="padding-left: 2.5rem;">
                                          <input class="custom-control-input" type="checkbox" name="schedule_option_edit" id="schedule_option_tuesday_edit">
                                          <label for="schedule_option_tuesday_edit" class="custom-control-label">Tuesday</label>
                                        </div>
                                        <div class="custom-control custom-checkbox" style="padding-left: 2.5rem;">
                                          <input class="custom-control-input" type="checkbox" name="schedule_option_edit" id="schedule_option_wednesday_edit">
                                          <label for="schedule_option_wednesday_edit" class="custom-control-label">Wednesday</label>
                                        </div>
                                        <div class="custom-control custom-checkbox" style="padding-left: 2.5rem;">
                                          <input class="custom-control-input" type="checkbox" name="schedule_option_edit" id="schedule_option_thursday_edit">
                                          <label for="schedule_option_thursday_edit" class="custom-control-label">Thursday</label>
                                        </div>
                                        <div class="custom-control custom-checkbox" style="padding-left: 2.5rem;">
                                          <input class="custom-control-input" type="checkbox" name="schedule_option_edit" id="schedule_option_friday_edit">
                                          <label for="schedule_option_friday_edit" class="custom-control-label">Friday</label>
                                        </div>
                                        <div class="custom-control custom-checkbox" style="padding-left: 2.5rem;">
                                          <input class="custom-control-input" type="checkbox" name="schedule_option_edit" id="schedule_option_saturday_edit">
                                          <label for="schedule_option_saturday_edit" class="custom-control-label">Saturday</label>
                                        </div>
                                        <div class="custom-control custom-checkbox" style="padding-left: 2.5rem;">
                                          <input class="custom-control-input" type="checkbox" name="schedule_option_edit" id="schedule_option_sunday_edit">
                                          <label for="schedule_option_sunday_edit" class="custom-control-label">Sunday</label>
                                        </div>
                                  </div>
                            </div>
                        </div>
                        
                </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <button type="button" id="employee_btn_edit" class="btn btn-primary">Request Changes</button>
            </div>
          </div>
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
      </div>
    <!-- /.modal -->

    <!-- DELETE FORM -->
    <!-- Extra Large Modal -->
      <div class="modal fade" id="employee_form_modal_delete">
        <div class="modal-dialog employee_form_modal_delete modal-xl modal-dialog-centered modal-dialog-scrollable">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Deactivate Employee</h4>
              <button type="button" class="btn btn-sm btn-default" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true"><i class="fas fa-times"></i></span>
              </button>
            </div>
            <div class="modal-body">
              <form id="employee_form_delete">
                        <div class="card-body">
                            <div class="form-group" hidden>
                                <label for="employee_id_delete">ID</label>
                                <input type="text" class="form-control" id="employee_id_delete" name="employee_id_delete" placeholder="Enter title">
                            </div>
                        </div>
                </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <button type="button" id="employee_btn_delete" class="btn btn-danger">Deactivate</button>
            </div>
          </div>
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
      </div>
    <!-- /.modal -->
    
{%endblock%}

{%block scripts%}
<script>
$(document).ready(function(){



function get_employee(){
    let employee_id = sessionStorage.getItem("id");

    $.ajax({
      url: "/time_and_attendance/api/employee/"+employee_id,
      type: "GET",
      contentType: "application/json",
      dataType: "JSON",

      success: function(data){
        employee = data.employee

        let schedule = ""
                  if(employee.monday == "True"){schedule += "Mon-"}
                  if(employee.tuesday == "True"){schedule += "Tue-"}
                  if(employee.wednesday == "True"){schedule += "Wed-"}
                  if(employee.thursday == "True"){schedule += "Thu-"}
                  if(employee.friday == "True"){schedule += "Fri-"}
                  if(employee.saturday == "True"){schedule += "Sat-"}
                  if(employee.sunday == "True"){schedule += "Sun-"}

                  date = moment().format('YYYY-MM-DD')

        let shift = employee.shift_types.title + " (" + moment(date + " " + employee.shift_types.start_time).format('LT') + " - " + moment(date + " " +employee.shift_types.end_time).format('LT') + ")"
        
        $('#employee_email').html(employee.users.email)
        $('#employee_type').html(employee.employee_types.title)
        $('#employee_shift_type').html(shift)
        $('#employee_schedule').html(schedule.slice(0, (schedule.length - 1)))
      }

    })
}

get_employee()

  function generateQRcode(width, height, text) {
      $('#qrcode').qrcode({width: width,height: height,text: text});
   }

  function generate_qr(){
    $('#qrcode').html("")

    txt = sessionStorage.getItem('id')

    var size = '200x200';
    var sizeSplit = size.split('x');
    var width = sizeSplit[0];
    var height = sizeSplit[1];
    generateQRcode(width, height, txt);
    
  }

  generate_qr()


  


})


</script>
{%endblock%}