<!-- Apply layout from base.html -->
{%extends '/time_and_attendance/base.html'%} 

{%block navbar%}
    {%include 'time_and_attendance/includes/employee_navbar.html'%}
{%endblock%}

{%block sidebar%}
    {%include 'time_and_attendance/includes/employee_sidebar.html'%}
{%endblock%}

{%block content%}
<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
            <h1>Employee</h1>
            </div>
            <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item active">Employee Information</li>
            </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- general form elements -->
<!-- <section class="content">
    <div class="container-fluid">
        <div class="row align-items-center justify-content-center">
            <div class="col-8">
                <div class="card card-info">
                    <div class="card-header">
                        <h3 class="card-title">Create Employee</h3>
                    </div>
                    <form id="shift_type_form">
                        <div class="card-body">
                            <div class="form-group">
                                <label for="employee_title">Title</label>
                                <input type="text" class="form-control" id="employee_title" name="employee_title" placeholder="Enter title">
                            </div>
                            <div class="form-group">
                                <label for="employee_start_time">Start-Time</label>
                                <input type="time" class="form-control" id="employee_start_time" name="employee_start_time" placeholder="Select Start-Time" value="08:00">
                            </div>
                            <div class="form-group">
                                <label for="employee_end_time">End-Time</label>
                                <input type="time" class="form-control" id="employee_end_time" name="employee_end_time" placeholder="Select End-Time" value="17:00">
                            </div>
                        </div>
                    <div class="card-footer float-right">
                        <input type="submit" class="btn btn-info" value='Submit'>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section> -->
<!-- /.card -->

<section class="content">
      <div class="container-fluid">
        <div class="row row align-items-center justify-content-center">
          <div class="col-12">
            <div class="card">
              
              <!-- /.card-header -->
              <div class="card-body">
                <table id="employee_datatable" class="table table-bordered table-hover">
                    <thead>
                        <th>ID</th>
                        <th>Date Created</th>
                        <th width="20%">Employee Email</th>
                        <th width="20%">Shift Type</th>
                        <th width="20%">Schedule</th>
                        <th width="20%">Employee Type</th>
                        <th width="20%">Actions</th>
                    </thead>
                    <tbody>
                        <tr>

                        </tr>
                    </tbody>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </section>

    <!-- ADD FORM -->
    <!-- Extra Large Modal -->
      <div class="modal fade" id="employee_form_modal">
        <div class="modal-dialog employee_form_modal modal-xl modal-dialog-centered modal-dialog-scrollable">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Create Employee</h4>
              <button type="button" class="btn btn-sm btn-default" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true"><i class="fas fa-times"></i></span>
              </button>
            </div>
            <div class="modal-body">
              <form id="employee_form">
                        <div class="card-body">
                            <div class="form-group">
                                <label for="user_id_option">User Email</label>
                                <select id="user_id_option" class="custom-select rounded-0" style="width:100%">
                                    
                                </select>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="employee_type_id_option">Employee Type</label>
                                <select id="employee_type_id_option" class="custom-select rounded-0" style="width:100%">
                                    
                                </select>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="shift_type_id_option">Shift Type</label>
                                <select id="shift_type_id_option" class="custom-select rounded-0" style="width:100%">
                                    
                                </select>
                            </div>
                            <div class="form-group">
                                  <label for="schedule_option">Schedule</label>
                                  <div class="row">
                                        <div class="custom-control custom-checkbox" style="padding-left: 2.5rem;">
                                          <input class="custom-control-input" type="checkbox" name="schedule_option" id="schedule_option_monday">
                                          <label for="schedule_option_monday" class="custom-control-label">Monday</label>
                                        </div>
                                        <div class="custom-control custom-checkbox" style="padding-left: 2.5rem;">
                                          <input class="custom-control-input" type="checkbox" name="schedule_option" id="schedule_option_tuesday">
                                          <label for="schedule_option_tuesday" class="custom-control-label">Tuesday</label>
                                        </div>
                                        <div class="custom-control custom-checkbox" style="padding-left: 2.5rem;">
                                          <input class="custom-control-input" type="checkbox" name="schedule_option" id="schedule_option_wednesday">
                                          <label for="schedule_option_wednesday" class="custom-control-label">Wednesday</label>
                                        </div>
                                        <div class="custom-control custom-checkbox" style="padding-left: 2.5rem;">
                                          <input class="custom-control-input" type="checkbox" name="schedule_option" id="schedule_option_thursday">
                                          <label for="schedule_option_thursday" class="custom-control-label">Thursday</label>
                                        </div>
                                        <div class="custom-control custom-checkbox" style="padding-left: 2.5rem;">
                                          <input class="custom-control-input" type="checkbox" name="schedule_option" id="schedule_option_friday">
                                          <label for="schedule_option_friday" class="custom-control-label">Friday</label>
                                        </div>
                                        <div class="custom-control custom-checkbox" style="padding-left: 2.5rem;">
                                          <input class="custom-control-input" type="checkbox" name="schedule_option" id="schedule_option_saturday">
                                          <label for="schedule_option_saturday" class="custom-control-label">Saturday</label>
                                        </div>
                                        <div class="custom-control custom-checkbox" style="padding-left: 2.5rem;">
                                          <input class="custom-control-input" type="checkbox" name="schedule_option" id="schedule_option_sunday">
                                          <label for="schedule_option_sunday" class="custom-control-label">Sunday</label>
                                        </div>
                                  </div>
                            </div>
                        </div>
                </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <button type="button" id="employee_form_submit" class="btn btn-info">Submit</button>
            </div>
          </div>
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
      </div>
    <!-- /.modal -->

    <!-- EDIT FORM -->
    <!-- Extra Large Modal -->
      <div class="modal fade" id="employee_form_modal_edit">
        <div class="modal-dialog employee_form_modal_edit modal-xl modal-dialog-centered modal-dialog-scrollable">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Edit Employee</h4>
              <button type="button" class="btn btn-sm btn-default" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true"><i class="fas fa-times"></i></span>
              </button>
            </div>
            <div class="modal-body">
              <form id="employee_form_edit">
                        <div class="card-body" hidden>
                            <div class="form-group">
                                <label for="employee_id_edit">ID</label>
                                <input id="employee_id_edit" type="text" class="custom-select rounded-0">
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="user_id_option_edit">User Email</label>
                                <select id="user_id_option_edit" class="custom-select rounded-0" style="width:100%" disabled>
                                    
                                </select>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="employee_type_id_option_edit">Employee Type</label>
                                <select id="employee_type_id_option_edit" class="custom-select rounded-0" style="width:100%" disabled>
                                    
                                </select>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="shift_type_id_option_edit">Shift Type</label>
                                <select id="shift_type_id_option_edit" class="custom-select rounded-0" style="width:100%" >
                                    
                                </select>
                            </div>
                            <div class="form-group">
                                  <label for="schedule_option">Schedule</label>
                                  <div class="row">
                                        <div class="custom-control custom-checkbox" style="padding-left: 2.5rem;">
                                          <input class="custom-control-input" type="checkbox" name="schedule_option_edit" id="schedule_option_monday_edit">
                                          <label for="schedule_option_monday_edit" class="custom-control-label">Monday</label>
                                        </div>
                                        <div class="custom-control custom-checkbox" style="padding-left: 2.5rem;">
                                          <input class="custom-control-input" type="checkbox" name="schedule_option_edit" id="schedule_option_tuesday_edit">
                                          <label for="schedule_option_tuesday_edit" class="custom-control-label">Tuesday</label>
                                        </div>
                                        <div class="custom-control custom-checkbox" style="padding-left: 2.5rem;">
                                          <input class="custom-control-input" type="checkbox" name="schedule_option_edit" id="schedule_option_wednesday_edit">
                                          <label for="schedule_option_wednesday_edit" class="custom-control-label">Wednesday</label>
                                        </div>
                                        <div class="custom-control custom-checkbox" style="padding-left: 2.5rem;">
                                          <input class="custom-control-input" type="checkbox" name="schedule_option_edit" id="schedule_option_thursday_edit">
                                          <label for="schedule_option_thursday_edit" class="custom-control-label">Thursday</label>
                                        </div>
                                        <div class="custom-control custom-checkbox" style="padding-left: 2.5rem;">
                                          <input class="custom-control-input" type="checkbox" name="schedule_option_edit" id="schedule_option_friday_edit">
                                          <label for="schedule_option_friday_edit" class="custom-control-label">Friday</label>
                                        </div>
                                        <div class="custom-control custom-checkbox" style="padding-left: 2.5rem;">
                                          <input class="custom-control-input" type="checkbox" name="schedule_option_edit" id="schedule_option_saturday_edit">
                                          <label for="schedule_option_saturday_edit" class="custom-control-label">Saturday</label>
                                        </div>
                                        <div class="custom-control custom-checkbox" style="padding-left: 2.5rem;">
                                          <input class="custom-control-input" type="checkbox" name="schedule_option_edit" id="schedule_option_sunday_edit">
                                          <label for="schedule_option_sunday_edit" class="custom-control-label">Sunday</label>
                                        </div>
                                  </div>
                            </div>
                        </div>
                        
                </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <button type="button" id="employee_btn_edit" class="btn btn-primary">Request Changes</button>
            </div>
          </div>
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
      </div>
    <!-- /.modal -->

    <!-- DELETE FORM -->
    <!-- Extra Large Modal -->
      <div class="modal fade" id="employee_form_modal_delete">
        <div class="modal-dialog employee_form_modal_delete modal-xl modal-dialog-centered modal-dialog-scrollable">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Deactivate Employee</h4>
              <button type="button" class="btn btn-sm btn-default" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true"><i class="fas fa-times"></i></span>
              </button>
            </div>
            <div class="modal-body">
              <form id="employee_form_delete">
                        <div class="card-body">
                            <div class="form-group" hidden>
                                <label for="employee_id_delete">ID</label>
                                <input type="text" class="form-control" id="employee_id_delete" name="employee_id_delete" placeholder="Enter title">
                            </div>
                        </div>
                </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <button type="button" id="employee_btn_delete" class="btn btn-danger">Deactivate</button>
            </div>
          </div>
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
      </div>
    <!-- /.modal -->
    
{%endblock%}

{%block scripts%}
<script>
$(document).ready(function(){

    
    function loadtable(){
        employee_datatable = $('#employee_datatable').DataTable( {
            "ajax": {url:"/time_and_attendance/api/employee", dataSrc:"employee"},
            "columns": [
                { data: "id"},
                { data: "created_at" },
                { data: "users.email"},
                { data: "shift_types.title"},
                { data: "monday", render: function(data, type, row){
                  let schedule = ""
                    if(row.monday == "True"){schedule += "M-"}
                    if(row.tuesday == "True"){schedule += "T-"}
                    if(row.wednesday == "True"){schedule += "W-"}
                    if(row.thursday == "True"){schedule += "Th-"}
                    if(row.friday == "True"){schedule += "F-"}
                    if(row.saturday == "True"){schedule += "S-"}
                    if(row.sunday == "True"){schedule += "Su-"}
                    
                  return schedule.slice(0, (schedule.length - 1))
                }},
                { data: "employee_types.title"},
                { data: "active_status", render: function(data, type, row){
                        if(data == "Active"){
                            return `
                            <button type="button" id=${row.id} class="btn btn-warning btn_edit"><i class="far fa-edit"></i> Request Update</button>
                            `
                        }   
                        else{
                            return '<button>Activate</button>';
                        }
                    }
                },
            ],
            "paging": true,
            "lengthChange": false,
            "searching": true,
            "ordering": true,
            "info": true,
            "autoWidth": false,
            "responsive": true,

            "aoColumnDefs": [{ "bVisible": false, "aTargets": [0, 1] }],
            "order": [[1, "desc"]]
        })
    }

    loadtable();


});


function refresh(){
    var url = "/time_and_attendance/api/employee";

    employee_datatable.ajax.url(url).load();
}


function get_user_email(){
       
        $.ajax({
                url: '/time_and_attendance/api/user/',
                type: "GET",
                contentType: "application/json",
                dataType: "JSON",
            
                success: function(data){
                    user = data.user
                    console.log(user)
                    html = ""
                    
                    for(var i=0; i < user.length; i++){
                        html += `<option value="${user[i].id}">${user[i].email}</option>`
                    }

                    $('#user_id_option').append(html)
                    $('#user_id_option_edit').append(html)
                }
            })
            // ajax closing tag

            
}

get_user_email()

function get_shift_type(){
       
        $.ajax({
                url: '/time_and_attendance/api/shifttype/',
                type: "GET",
                contentType: "application/json",
                dataType: "JSON",
            
                success: function(data){
                    shifttype = data.shifttype
                    html = ""
                    
                    for(var i=0; i < shifttype.length; i++){
                        html += `<option value="${shifttype[i].id}">${shifttype[i].title}</option>`
                    }

                    $('#shift_type_id_option').append(html)
                    $('#shift_type_id_option_edit').append(html)
                }
            })
            // ajax closing tag

}

get_shift_type()

function get_employee_type(){
       
        $.ajax({
                url: '/time_and_attendance/api/employeetype/',
                type: "GET",
                contentType: "application/json",
                dataType: "JSON",
            
                success: function(data){
                    employeetype = data.employeetype
                    html = ""
                    
                    for(var i=0; i < employeetype.length; i++){
                        html += `<option value="${employeetype[i].id}">${employeetype[i].title}</option>`
                    }

                    $('#employee_type_id_option').append(html)
                    $('#employee_type_id_option_edit').append(html)
                }
            })
            // ajax closing tag

                    
}

get_employee_type()

$('#employee_form_submit').on('click', function(e){
    e.preventDefault()

    $('#employee_form_submit').prop('disabled', true)

    let formData = {
        user_id: $('#user_id_option').val(),
        shift_type_id: $('#shift_type_id_option').val(),
        employee_type_id: $('#employee_type_id_option').val(),
        monday: $('#schedule_option_monday').is(":checked"),
        tuesday: $('#schedule_option_tuesday').is(":checked"),
        wednesday: $('#schedule_option_wednesday').is(":checked"),
        thursday: $('#schedule_option_thursday').is(":checked"),
        friday: $('#schedule_option_friday').is(":checked"),
        saturday: $('#schedule_option_saturday').is(":checked"),
        sunday: $('#schedule_option_sunday').is(":checked"),
    }    

    $.ajax({
            url: '/time_and_attendance/api/employee',
            type: "POST",
            data: JSON.stringify(formData),
            contentType: "application/json",
            dataType: "JSON",
        
            success: function(data){
                Swal.fire(
                    'Success!',
                    data.message,
                    'success'
                )

                $('#employee_form').trigger("reset")
                $('#employee_form_submit').prop('disabled', false)
                $('#employee_form_modal').modal('hide')
                refresh()
            }
        // ajax closing tag
    })

    $('#employee_form_submit').prop('disabled', false)
});

$(document).on('click', '.btn_edit', function(e){
    e.preventDefault()

    let id = this.id

    $.ajax({
            url: '/time_and_attendance/api/employee/'+id,
            type: "GET",
            contentType: "application/json",
            dataType: "JSON",
        
            success: function(data){
                $('#employee_id_edit').val(data.employee.id);
                $('#user_id_option_edit').val(data.employee.users.id);
                $('#employee_type_id_option_edit').val(data.employee.employee_types.id);
                $('#shift_type_id_option_edit').val(data.employee.shift_types.id);

                $('#schedule_option_monday_edit').prop('checked', JSON.parse(data.employee.monday.toLowerCase())),
                $('#schedule_option_tuesday_edit').prop('checked', JSON.parse(data.employee.tuesday.toLowerCase())),
                $('#schedule_option_wednesday_edit').prop('checked', JSON.parse(data.employee.wednesday.toLowerCase())),
                $('#schedule_option_thursday_edit').prop('checked', JSON.parse(data.employee.thursday.toLowerCase()),
                $('#schedule_option_friday_edit').prop('checked', JSON.parse(data.employee.friday.toLowerCase())),
                $('#schedule_option_saturday_edit').prop('checked', JSON.parse(data.employee.saturday.toLowerCase())),
                $('#schedule_option_sunday_edit').prop('checked', JSON.parse(data.employee.sunday.toLowerCase()))),

                $('#employee_form_modal_edit').modal('show');
            }
        // ajax closing tag
    })
})

$('#employee_btn_edit').on('click', function(e){
    e.preventDefault()
    $('#employee_btn_edit').prop('disabled', true)

    let id = $('#employee_id_edit').val()

    let formData = {
        user_id: $('#user_id_option_edit').val(),
        shift_type_id: $('#shift_type_id_option_edit').val(),
        employee_type_id: $('#employee_type_id_option_edit').val(),
        monday: $('#schedule_option_monday_edit').is(":checked"),
        tuesday: $('#schedule_option_tuesday_edit').is(":checked"),
        wednesday: $('#schedule_option_wednesday_edit').is(":checked"),
        thursday: $('#schedule_option_thursday_edit').is(":checked"),
        friday: $('#schedule_option_friday_edit').is(":checked"),
        saturday: $('#schedule_option_saturday_edit').is(":checked"),
        sunday: $('#schedule_option_sunday_edit').is(":checked"),
    }

    $.ajax({
            url: '/time_and_attendance/api/employee/'+id,
            type: "PUT",
            data: JSON.stringify(formData),
            contentType: "application/json",
            dataType: "JSON",
        
            success: function(data){
                Swal.fire(
                    'Success!',
                    data.message,
                    'success'
                )

                $('#employee_form_edit').trigger("reset")
                $('#employee_btn_edit').prop('disabled', false)
                $('#employee_form_modal_edit').modal('hide')
                refresh()
            }
        // ajax closing tag
    })

    $('#employee_btn_edit').prop('disabled', false)
})

$(document).on('click', '.btn_delete', function(e){
    e.preventDefault()

    let id = this.id

    $.ajax({
            url: '/time_and_attendance/api/employee/'+id,
            type: "GET",
            contentType: "application/json",
            dataType: "JSON",
        
            success: function(data){
                $('#employee_id_delete').val(data.employee.id);

                $('#employee_form_modal_delete').modal('show');
            }
        // ajax closing tag
    })
})

$('#employee_btn_delete').on('click', function(e){
    e.preventDefault()
    $('#employee_btn_delete').prop('disabled', true)

    let id = $('#employee_id_delete').val()


    $.ajax({
            url: '/time_and_attendance/api/employee/delete/'+id,
            type: "PUT",
            contentType: "application/json",
            dataType: "JSON",
        
            success: function(data){
                Swal.fire(
                    'Success!',
                    data.message,
                    'success'
                )

                $('#employee_form_delete').trigger("reset")
                $('#employee_btn_delete').prop('disabled', false)
                $('#employee_form_modal_delete').modal('hide')
                refresh()
            }
        // ajax closing tag
    })

    $('#employee_btn_delete').prop('disabled', false)
    
})

$('select').select2({
  width: 'resolve'
})


</script>
{%endblock%}