<!-- Apply layout from base.html -->
{%extends '/time_and_attendance/base.html'%} 

{%block navbar%}
    {%include 'time_and_attendance/includes/employee_navbar.html'%}
{%endblock%}

{%block sidebar%}
    {%include 'time_and_attendance/includes/employee_sidebar.html'%}
{%endblock%}

{%block content%}
<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
            <h1>Missed Time</h1>
            </div>
            <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item active">Missed Time</li>
            </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

    <section class="content">
      <div class="container-fluid">
        <div class="row row align-items-center justify-content-center">
          <div class="col-12">
            <div class="card">
                <div class="card-header d-flex justify-content-between">
                    <h3 class="card-title">List of Time Logs</h3>
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#time_log_form_modal">
                        <i class="fa fa-plus"></i> Apply Missed Time-Log
                    </button>
                </div>
                <div class="card-body">
                    <div class="card-header">
                        List of Missed Time Application
                    </div>
                  <div class="">
                    <table id="missed_time_datatable" class="table table-bordered table-hover" style="width: 100%;">
                      <thead>
                          <th>ID</th>
                          <th>Log Type</th>
                          <th>Time Log</th>
                          <th>Date</th>
                          <th>Status</th>
                      </thead>
                      <tbody>
                          <tr>

                          </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
                <div class="card-body">
                    <div class="card-header">
                        List of Time In
                    </div>
                  <div class="">
                    <table id="time_in_log_datatable" class="table table-bordered table-hover" style="width: 100%;">
                      <thead>
                          <th>ID</th>
                          <th>Log Type</th>
                          <th>Time Log</th>
                          <th>Date</th>
                      </thead>
                      <tbody>
                          <tr>

                          </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
                <div class="card-body">
                  <div class="card-header">
                    List of Time Out
                  </div>
                  <div class="">
                    <table id="time_out_log_datatable" class="table table-bordered table-hover" style="width: 100%;">
                      <thead>
                          <th>ID</th>
                          <th>Log Type</th>
                          <th>Time Log</th>
                          <th>Date</th>
                      </thead>
                      <tbody>
                          <tr>

                          </tr>
                      </tbody>
                  </table>
                  </div>
                </div>
              
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </section>

    <!-- Extra Large Modal -->
        <div class="modal fade" id="time_log_form_modal">
          <div class="modal-dialog time_log_form_modal modal-xl modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title">Time In</h4>
                <button type="button" class="btn btn-sm btn-default" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true"><i class="fas fa-times"></i></span>
                </button>
              </div>
              <div class="modal-body">
                <form id="employee_form_time_in">
                      <div class="card-body">
                            <div class="form-group" hidden>
                                <label for="employee_email_id" h>User Email</label>
                                <select id="employee_email_id" class="custom-select rounded-0" style="width:100%">
                                    
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="employee_time_log_type">Type of Time-Log</label>
                                <select id="employee_time_log_type" class="custom-select rounded-0" style="width:100%">
                                    <option value="Time-In">Time-In</option>
                                    <option value="Time-Out">Time-Out</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="employee_created_date">Date</label>
                                <input type="date" class="form-control" id="employee_created_date" name="employee_created_date">
                            </div>
                            <div class="form-group">
                                <label for="employee_time_log">Time-Log</label>
                                <input type="time" class="form-control" id="employee_time_log" name="employee_time_log" value="08:00">
                            </div>
                            <!-- <div class="form-group">
                                <label for="employee_proof">Proof (PDF Format)</label><br>
                                <span class="btn btn-info fileinput-button">
                                    <i class="fas fa-plus"></i>
                                    <span>Upload file/s</span>
                                </span>
                            </div> -->
                            
                      </div>
                  </form>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" id="employee_missed_time_form_submit" class="btn btn-primary">Submit</button>
              </div>
            </div>
            <!-- /.modal-content -->
          </div>
          <!-- /.modal-dialog -->
        </div>
      <!-- /.modal -->

    
{%endblock%}

{%block scripts%}
<script>
$(document).ready(function(){

    let employee_id = sessionStorage.getItem("id")
    console.log(employee_id)

    function missedloadtable(){
        missed_time_datatable = $('#missed_time_datatable').DataTable( {
            "ajax": {url:"/time_and_attendance/api/missed_time/employee/"+employee_id, dataSrc:"missed_time"},
            "columns": [
                { data: "id"},
                { data: "time_log_type", render: function(data, type, row){
                  return data
                }},
                { data: "time_log", render: function(data, type, row){
                  date = moment().format('YYYY-MM-DD')
                  return moment(date + " " + data).format('LT');
                }},
                { data: "date", render: function(data, type, row){
                  return moment(data).format('LL')
                }},
                { data: "status", render: function(data, type, row){
                    if(data == "Pending"){
                        return `<h5 ><span style="padding:5px" class="badge badge-secondary">Pending</span></h5>`
                    }
                    else if(data == "Approved"){
                        return `<h5><span style="padding:5px" class="badge badge-primary">Approved</span></h5>`
                    }
                    else if(data == "Declined"){
                        return `<h5><span style="padding:5px" class="badge badge-danger">Declined</span></h5>`
                    }
                }},
            ],
            "paging": true,
            "lengthChange": false,
            "searching": true,
            "ordering": true,
            "info": true,
            "autoWidth": false,
            "responsive": true,

            "aoColumnDefs": [{ "bVisible": false, "aTargets": [0] }],
            "order": [[4, "desc"]]
        })
    }

    missedloadtable()

    function loadtable(){
        time_in_log_datatable = $('#time_in_log_datatable').DataTable( {
            "ajax": {url:"/time_and_attendance/api/timein/"+employee_id, dataSrc:"timein"},
            "columns": [
                { data: "id"},
                { data: "created_at", render: function(data, type, row){
                  return "Time-In"
                }},
                { data: "time_log", render: function(data, type, row){
                  date = moment().format('YYYY-MM-DD')
                  return moment(date + " " + data).format('LT');
                }},
                { data: "created_at", render: function(data, type, row){
                  return moment(data).format('LL')
                }},
            ],
            "paging": true,
            "lengthChange": false,
            "searching": true,
            "ordering": true,
            "info": true,
            "autoWidth": false,
            "responsive": true,

            "aoColumnDefs": [{ "bVisible": false, "aTargets": [0] }],
            "order": [[3, "desc"]]
        })
    }

    loadtable()

    function loadouttable(){
            time_out_log_datatable = $('#time_out_log_datatable').DataTable( {
                "ajax": {url:"/time_and_attendance/api/timeout/"+employee_id, dataSrc:"timeout"},
                "columns": [
                    { data: "id"},
                    { data: "created_at", render: function(data, type, row){
                    return "Time-Out"
                    }},
                    { data: "time_log", render: function(data, type, row){
                    date = moment().format('YYYY-MM-DD')
                    return moment(date + " " + data).format('LT');
                    }},
                    { data: "created_at", render: function(data, type, row){
                    return moment(data).format('LL')
                    }},
                ],
                "paging": true,
                "lengthChange": false,
                "searching": true,
                "ordering": true,
                "info": true,
                "autoWidth": false,
                "responsive": true,

                "aoColumnDefs": [{ "bVisible": false, "aTargets": [0] }],
                "order": [[3, "desc"]]
            })
    }

    loadouttable();

            
    function refresh(){

        var url = "/time_and_attendance/api/missed_time/employee/"+employee_id
        missed_time_datatable.ajax.url(url).load();

        var url = "/time_and_attendance/api/timein/"+employee_id
        time_in_log_datatable.ajax.url(url).load();

        var url = "/time_and_attendance/api/timeout/"+employee_id
        time_out_log_datatable.ajax.url(url).load();
    }


    $("#employee_missed_time_form_submit").on('click', function(e){
        e.preventDefault()

        let employee_id = sessionStorage.getItem("id")

        let formData = {
            "date": $('#employee_created_date').val(),
            "time_log": $("#employee_time_log").val(),
            "time_log_type": $('#employee_time_log_type').val(),
            "employee_id": employee_id,
        }

        console.log(formData)

         $.ajax({
            url: '/time_and_attendance/api/missed_time',
            type: "POST",
            data: JSON.stringify(formData),
            contentType: "application/json",
            dataType: "JSON",
        
            success: function(data){
                notification('bg-success', 'Success',  data.message)

                refresh()
                $('#time_log_form_modal').modal('hide')

                console.log(data)
            }
        // ajax closing tag
        })
    })


$('select').select2({
  width: 'resolve'
})


})
</script>
{%endblock%}